*{
    font-family: 'Barlow', sans-serif;
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;
}
ul, ol{
    list-style: none;
}
a{
    text-decoration: none;
}
img{
    max-width: 100%;
    display: block;
}
.wrapper{
    overflow: hidden;
}
.container{
    max-width: 1170px;
    margin: auto;
}
.header{
    padding: 15px;
}
.header__content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0px 15px;
    border-bottom: 1px solid #a9a9a9ad;
    padding-bottom: 15px;
}
.header__content .left{
    display: flex;

}
.header__content .right{
    display: flex;
}
.header__content .left .header-item{
    padding: 0px 13px;
    border-right: 2px solid darkgray;
}
.header-item a{
    font-size: 16px;
    font-weight: 400;
    color: #4f4f4f;
}
.header__content .right .header-item{
    padding: 0px 13px;
    border-right: 2px solid darkgray;
}
.header-item a:hover{
    color: #bd9e6b;
}

/* nav */
.nav .nav__content{
    display: flex;
    padding: 0px 25px;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.nav__content .nav-menu{
    display: flex;
}
.nav__content .nav-tool{
    display: flex;
}
.nav__content .nav-tool li {
    padding: 0px 15px;
}
.nav__content .nav-tool li a{
    font-size: 16px;
    font-weight: 500;
    color: #4f4f4f;
}
.nav__content .nav-menu li {
    padding: 10px 15px;
}
.nav__content .nav-menu li a{
    font-size: 16px;
    font-weight: 500;
    color: #4f4f4f;
}
.nav__content li>a:hover{
    color: #bd9e6b;
}
.nav .nav__content .nav-bars{
    display: none;
}
.nav-menu .mega-menu{
    display: flex;
    position: absolute;
    transform: translate(-35%, 22px);
    background: white;
    align-items: center;
    width: 65rem;
    opacity: 0;
    transition: 0.5s;
    visibility: hidden;
    /* display: none; */
}
.nav-menu li:hover .mega-menu{
     opacity: 1; 
     visibility: visible;
}
.nav-menu .mega-menu .mega-menu-list{
    padding: 0px 0px 0px 35px;
}
.nav-menu .mega-menu .mega-menu-list h3{
    color: black;
    font-size: 13px;
    font-weight: 700;
    padding-bottom:10px ;
}
.nav-menu .mega-menu .mega-menu-list li{
    padding: 10px 0px;
}
.nav-menu .mega-menu .mega-menu-list a{
    font-size: 15px;
    font-weight: 300;
}
.mega-menu-content h2{
    font-size: 30px;
    font-weight: 400;
    padding-bottom: 15px;
}
.mega-menu-content ul{
    padding-bottom: 55px;
}
.mega-menu-content ul li{
    color: darkgray;
    font-size: 17px;
    font-weight: 400;
    padding: 10px 0px;
}
.mega-menu-content>a{
    background: #bd9e6b;
    text-align: center;
    color: white;
    padding: 10px 20px;
}
.nav-menu .sub-menu{
    position: absolute;
    background: white;
    border-radius: 12px;
    top: 135%;
    width: 12rem;
    padding: 5px 15px;
    opacity: 0;
    transition: 0.4s;
    visibility: hidden;
}
.nav-menu li:hover .sub-menu{
    opacity: 1; 
    visibility: visible;
}

@media (max-width:1200px){
    .header__content{
        position: absolute;
        display: none;
        overflow: hidden;
    }
    .nav-menu{
    position: absolute;
    display: none;
    overflow: hidden;
    top: 100%;
        
    }
    .nav-tool{
        position: absolute;
        display: none;
        overflow: hidden;
        top: 100%;
    }
    .nav-bars{
        display: flex;
    }

}
/* banner */
.banner{
    background-image: url(https://daonghia2404.github.io/Ave/images/bg-91.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    height: 100vh;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 1rem 0px;
}
.banner .banner__content{
    margin: auto;
}
.banner__content img{
    width: 19rem;
}
.banner__content h1{
    font-size: 90px;
    font-weight: 600;
    color: white;
    padding: 15px 0px;
    padding-bottom: 3rem;
}
.banner__content a{
    background: white;
    padding: 15px 25px;
    text-transform: uppercase;
    color: black;
    font-weight: 300;
    transition: 0.4s;
}
.banner__content>a:hover{
    color: #bd9e6b;
    background: black;
}


/* collection */
.collection .collection__content{
    margin: 5rem 0px;
    text-align: center;
}
.collection .collection__content h3{
    font-size: 45px;
    font-weight: 500;
    padding-bottom: 15px ;
}
.collection .collection__content p{
    font-size: 16px;
    font-weight: 400;
    color: gray;
}
.collection__item{
    padding: 3rem 0px;
    display: flex;
    flex-wrap: wrap;
}
.collection__item .right{
    max-width: 50%;
    flex-basis: 50%;
    display: flex;
    flex-wrap: wrap;
}
.collection__item .slide{
    max-width: 50%;
    flex-basis: 50%;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}
.collection__item .right .item{
    max-width: 50%;
    flex-basis: 50%;
    padding: 10px 10px 0px 0px;
}
.collection__item .list-item-slide{
    position: absolute;
    display: flex;
    bottom: 10px;
    width: 80%;
    right: 25px;
}
.list-item-slide .slide-item{
    border: 1px solid white;
    margin-right: 10px;
    border-radius: 15px;
}
.list-item-slide .slide-item img{
    border-radius: 15px;
}

/* summerHits */
.SummerHits h3{
    font-size: 45px;
    font-weight: 700;
    text-align: center;
    padding-bottom: 15px;
}
.SummerHits p{
    text-align: center;
    color: gray;
    font-size: 15px;
    font-weight: 400;
}
.SummerHits .list-items{
    margin-top: 3rem;
}
.SummerHits .list-items .summer-item .item-img{
    position: relative;
    transition: 0.4s;
}
.SummerHits .list-items .summer-item .item-img .item__overlay{
    position: absolute;
    top: 0;
    opacity: 0;
    transition: 0.4s;
}
.SummerHits .list-items .summer-item .item-img .item__button{
    position: absolute;
    top: 100%;
    left: 24%;
    opacity: 0;
    transition: 0.4s;
    visibility: hidden;
}
.summer-item .item-img .item__button a{
    background: black;
    color: white;
    padding: 10px 30px;
}
.summer-item .item-img .item__button a:hover{
    background: #bd9e6b;
    transition: 0.4s;
}
.SummerHits .list-items .summer-item .item-img:hover .item__button {
    opacity: 1;
    top: 85%;
    visibility: visible;
}
.SummerHits .list-items .summer-item .item-img:hover .item__overlay {
    opacity: 1;
}
.summer-item .item-caption {
    text-align: center;
    padding: 15px 0px;
}
.summer-item .item-caption a{
    font-size: 15px;
    font-weight: 500;
    color: black;
}
.summer-item .item-caption p{
    padding: 10px 0px;
    font-size: 14px;
}

/* banner2 */
.banner2 p{
    font-size: 10px;
    color: white;
    text-align: center;
}
.banner2 h1{
    font-size: 50px;
}

/* work */
.work{
    margin-top: 30px ;
    margin-bottom: 5rem;
}
.work .work-item{
    padding-right: 20px;
    opacity: 0.5;
    transition: 0.4s;
}
.work .work-item:hover{
    opacity: 1;
}

/* EditorialCollection */
.EditorialCollection{
    margin: 3rem 0px;
}
.EditorialCollection .edi-title {
    text-align: center;
}
.EditorialCollection .edi-title a{
    color: black;
    border-bottom: 1px solid black;
    padding: 10px 0px;
    font-size: 15px;
}
.EditorialCollection .edi-title h1{
    font-size: 45px;
    font-weight: 600;
    padding-bottom: 2rem;
}
.EditorialCollection .list-items{
    padding: 3rem 0px;
}
.EditorialCollection .list-items .edi-item-img{
    position: relative;
    transition: 0.4s;
}
.EditorialCollection .list-items .edi-item-button{
    position: absolute;
    top: 100%;
    left: 15%;
    opacity: 0;
    visibility: hidden;
    transition: 0.4s;
}
.EditorialCollection .list-items .edi-item-button a{
    color: white;
    padding: 10px 40px;
    background: black;
}
.EditorialCollection .list-items .edi-item-button a:hover{
    background: #bd9e6b;
}
.EditorialCollection .list-items .edi-item-img:hover .edi-item-button{
    opacity: 1;
    visibility: visible;
    top: 85%;
}
.EditorialCollection .edi-item-caption{
    padding-top: 15px;
}
.EditorialCollection .edi-item-caption a{
    color: black;
    font-size: 18px;
    font-weight: 500;
}
.EditorialCollection .edi-item-caption p{
    padding: 10px 0px;
    font-size: 15px;
}

/* subscribe */
.subscribe{
    background-image: url(https://daonghia2404.github.io/Ave/images/bg-93.jpg);
    display: flex;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.subscribe__content{
    padding: 5rem 0px;
}
.subscribe__content h1{
    font-size: 45px;
    font-weight: 500;
    color: white;
}
.subscribe .subscribe__content .subscribe__input input{
    border: none;
    padding: 10px 1rem;
    width: 70%;
    color: white;
    background: none;
    font-size: 15px;
    border-bottom: 1px solid black;
}
.subscribe__content .subscribe__input i{
    color: white;
    font-size: 15px;
}


/* delivery */
.delivery{
    margin: 3rem 0px;
}
.delivery__content .del-item{
    display: flex;
    align-items: center;
}
.delivery__content .del-item .del-icon{
    width: 20%;
    margin-right: 10px;
}
.delivery__content .del-item .del-text h2{
    font-size: 18px;
    font-weight: 600;
    padding-bottom: 5px;
}
.delivery__content .del-item .del-text h4{
    font-size: 15px;
}

/* news */
.news{
    margin-top: 6rem;
}
.news h1{
    text-align: center;
    font-size: 45px;
    font-weight: 500;
}
.news .list-news{
    margin-top: 3rem;
}
.news .news-item{
    position: relative;
    overflow: hidden;
}
.news .news-overlay{
    position: absolute;
    top: 10%;
    left: 8%;
}
.news .news-date{
    position: absolute;
    bottom: 10px;
    left: 8%;
}
.news .news-date p{
    font-size: 16px;
    font-weight: 400;
    color: white;
}
.news .news-overlay a{
    color: white;
    border: 1px solid #bd9e6b;
    padding: 10px 20px;
}
.news .news-overlay a:hover{
    background: #bd9e6b;
    transition: 0.4s;
}
.news .news-overlay h2{
    padding-top: 20px;
    font-size: 25px;
    color: white;
    font-weight: 500;
}
.news .news-item:hover img{
    transition: 0.4s;
    transform: scale(1.2);
}

/* instagram */
.instagram{
    margin-top: 3rem;
}
.instagram .instagram-items .insta-item .insta-img{
    position: relative;
    transition: 0.4s;
}
.insta-item{
    padding: 0;
}
.insta__overlay{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: #bd9e6b;
    font-size: 3rem;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: 0.4s;
}
.insta-img:hover .insta__overlay{
    opacity: 1;
}

/* footer */
.footer{
    padding: 4rem 0px;
}
.footer .footer-item p{
    padding: 2rem 0px;
}
.footer .footer-item input{
    border: none;
    border-bottom: 1px solid;
    padding: 10px 0px;
    width: 95%;
}
.footer-item h3{
    font-size: 20px;
    font-weight: 500;
    padding-bottom: 15px;
}
.footer-item ul li{
    padding: 10px 0px;
}
.footer-item ul li>a{
    color: gray;
}
.footer-item ul li>a:hover{
    color: #bd9e6b;
    transition: 0.4s;
}
