*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.wrapper{
    max-width: 100%;
}
ul,ol{
    list-style: none;
}
a{
    text-decoration: none;
}
.header{
    padding: 0 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header .logo{
    text-transform: capitalize;
    font-size: 18px;
    font-weight: 600;
}
.header .menu{
    display: flex;
    font-size: 16px;
    text-transform: capitalize;
}
.header .menu li{
    padding: 15px;
}
.header2 .menu li{
    padding: 15px;
}
.header .menu li a{
    padding: 15px;
}
.header2 .menu li a{
    padding: 15px;
    color: white;
}

.header2 {
    padding: 0 70px;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 5px solid #b3893b;
    background: #524848;
}
.header2 .logo{
    text-transform: capitalize;
    font-size: 20px;
    color: #bfbf3e;
    font-style: italic;
}
.header2 .menu {
    display: flex;
    text-transform: uppercase;

}

.container{
    max-width: 1170px;
    padding:0px 15px;
    margin: 0 auto;
}
.portfolio{
    margin-top: 30px;
}

.portfolio .title{
    text-align: center;
    text-transform: uppercase;
    font-size: x-large;
    font-weight: 600;
    padding: 20px 0px;
}
.portfolio .text{
    text-align: center;
    font-size:12px;
    padding-bottom: 40px;
    font-style: italic;
}
.portfolio .list_item{
    display: flex;
    flex-wrap: wrap;
}
.portfolio .list_item .item{
    max-width: calc(100%/3);
    flex-basis: calc(100%/3);
    padding: 0 15px;
}
.portfolio .list_item .item img{
    width: 100%;
}
.portfolio .list_item .item h3{
    text-align: center;
    margin: 7px;
}
.portfolio .list_item .item p{
    text-align: center;
    font-style: italic;
}
.contact{
    text-align: center;
}
.contact .title{
    text-align: center;
    margin: 25px;
    text-transform: capitalize;
}
.contact .text{
    text-align: center;
    font-size: 15px;
    color: gray;
}
.contact .list_contact{
    display: flex;
    flex-wrap: wrap;
}
.contact .list_contact .item{
    max-width: 50%;
    flex-basis: 50%;
    margin: 30px 0px;
}
.contact .list_contact .item img{
    width: 10%;
}
.contact .list_contact .item p{
    margin-top: 20px;
}

.container .services .list_item {
    display: flex;
    flex-wrap: wrap;
}
.services .list_item .item{
    max-width: 25%;
    flex-basis: 25%;
}
.services h3{
    font-size: 30px;
    text-transform: capitalize;
    text-align: center;
    color: gray;
    margin: 30px 0px 50px;
}
.services .list_item .item img{
    width: 25%;
}
.services .list_item .item{
    text-align: center;
}
.services .list_item .item h4{
    text-transform: capitalize;
    font-size: 18px;
    padding: 10px 0px 20px;
}
.services .list_item .item p{
    font-size: 15px;
    color: gray;
}