* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    display: block;
}

.wrapper {
    padding: 60px;
    max-width: 25%;
}

.div {
    margin-bottom: 20px;
}

.div:last-child {
    margin-bottom: 0;
}


/* ==================effect1==================== */

.parent {
    position: relative;
}

.parent img {
    max-width: 100%;
    display: block;
}

.parent::after {
    content: "";
    background: url('/assets/img/bg.jpg') no-repeat;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: 0.4s;
    opacity: 0;
}

.parent:hover::after {
    top: 20px;
    left: 20px;
    opacity: 1;
}


/* ==================effect2==================== */

.parent1 {
    position: relative;
    overflow: hidden;
}

.parent1 img {
    max-width: 100%;
    display: block;
    position: relative;
    transition: transform 0.4s;
}

.child {
    position: absolute;
    height: 100px;
    width: 100%;
    top: auto;
    bottom: 30px;
    left: 0;
    backface-visibility: hidden;
    transition: transform 0.4s, opacity 0.1s 0.3s;
    padding: 20px;
    background: #2c3f52;
    color: #ed4e6e;
    transition: 0.4s;
}

.child h3 {
    color: #fff;
}

.child a {
    position: absolute;
    bottom: 20px;
    right: 20px;
    text-align: center;
    padding: 5px 10px;
    border-radius: 2px;
    display: inline-block;
    background: #ed4e6e;
    color: #fff;
    text-decoration: none;
}

.parent1:hover img {
    transform: translateY(-50px);
}

.parent1:hover .child {
    transform: translateY(0);
}


/* ==================effect3==================== */

.parent2 {
    position: relative;
    overflow: hidden;
}

.parent2 img {
    max-width: 100%;
    display: block;
    position: relative;
    transition: transform 0.4s;
}

.child {
    position: absolute;
    height: 100px;
    width: 100%;
    top: auto;
    bottom: 0;
    left: 0;
    backface-visibility: hidden;
    transition: transform 0.4s, opacity 0.1s 0.3s;
    padding: 20px;
    background: #2c3f52;
    color: #ed4e6e;
    transition: 0.4s;
    transform: translateY(100%);
}

.child h3 {
    color: #fff;
}

.child a {
    position: absolute;
    bottom: 20px;
    right: 20px;
    text-align: center;
    padding: 5px 10px;
    border-radius: 2px;
    display: inline-block;
    background: #ed4e6e;
    color: #fff;
    text-decoration: none;
}

.parent2:hover img {
    transform: translateY(-50px);
}

.parent2:hover .child {
    transform: translateY(0);
}


/* ==================effect4==================== */

.parent3 {
    position: relative;
    overflow: hidden;
}

.parent3 img {
    max-width: 100%;
    display: block;
    position: relative;
    transition: transform 0.4s;
    transform: scale(1);
    transition: 0.4s;
}

.child1 {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    backface-visibility: hidden;
    padding: 20px;
    background: #2c3f52;
    color: #ed4e6e;
    transition: 0.4s;
    transform: scale(0.7);
    opacity: 0;
}

.child1 h3 {
    color: #fff;
}

.child1 a {
    position: absolute;
    bottom: 20px;
    right: 20px;
    text-align: center;
    padding: 5px 10px;
    border-radius: 2px;
    display: inline-block;
    background: #ed4e6e;
    color: #fff;
    text-decoration: none;
}

.parent3:hover img {
    transform: scale(0.4);
    z-index: 10;
}

.parent3:hover .child1 {
    transform: scale(1);
    opacity: 1;
}


/* ==================effect6==================== */

.parent4 {
    position: relative;
    overflow: hidden;
}

.parent4 img {
    max-width: 100%;
    display: block;
    position: relative;
    transition: transform 0.4s;
    transform: scale(1);
    transition: 0.4s;
    z-index: 10;
}

.child2 {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    backface-visibility: hidden;
    padding: 20px;
    background: #2c3f52;
    color: #ed4e6e;
    transition: 0.4s;
    transform: scale(1);
}

.child2 h3 {
    color: #fff;
}

.child2 a {
    position: absolute;
    bottom: 20px;
    right: 20px;
    text-align: center;
    padding: 5px 10px;
    border-radius: 2px;
    display: inline-block;
    background: #ed4e6e;
    color: #fff;
    text-decoration: none;
}

.parent4:hover img {
    transform: translateY(-50px) scale(0.5);
}


/* ==================effect7==================== */

.parent5 {
    position: relative;
    overflow: hidden;
}

.parent5 img {
    max-width: 100%;
    display: block;
    position: relative;
    transition: transform 0.4s;
    transition: 0.4s;
    z-index: 10;
}

.child3 {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    backface-visibility: hidden;
    background: #2c3f52;
    color: #ed4e6e;
    transition: 0.4s;
    /* opacity: 0; */
    pointer-events: none;
}

.child3 h3 {
    color: #fff;
}

.child3 a {
    position: absolute;
    bottom: 20px;
    right: 20px;
    text-align: center;
    padding: 5px 10px;
    border-radius: 2px;
    display: inline-block;
    background: #ed4e6e;
    color: #fff;
    text-decoration: none;
}

.parent5:hover .child3 {
    opacity: 1;
    pointer-events: auto;
    height: 130%;
    box-shadow: 0 0 0px #2c3f52;
}