* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
    display: block;
}

.header {
    background: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    padding: 25px 50px;
    align-items: center;
}

.header .header__logo {
    font-family: 'Raleway', sans-serif;
    font-size: 24px;
    font-weight: 300;
}

.header .header__menu {
    display: flex;
    padding: 0 25px;
}

.header .header__menu .list-item {
    padding: 15px;
    font-family: 'Raleway', sans-serif;
    font-size: 13px;
    font-weight: 500;
}

.header .header__menu .list-item a {
    padding: 15px;
}


/*---SEO--*/

.SEO {}

.SEO .SEO__component {
    display: flex;
    flex-wrap: wrap;
}

.SEO .SEO__component .SEO__img {
    flex-basis: 50%;
    max-width: 50%;
}

.SEO .SEO__component .SEO__content {
    flex-basis: 50%;
    max-width: 50%;
    padding: 50px 0 0 50px;
}

.SEO .SEO__component .SEO__content .SEO__button button {
    border: none;
    color: white;
    padding: 15px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 10px 2px;
    cursor: pointer;
    background: rgb(116, 92, 249);
    text-transform: capitalize;
}

.SEO .SEO__component .SEO__content .SEO__text {
    text-align: left;
}

.SEO .SEO__component .SEO__content .SEO__text h3 {
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
    font-weight: 400;
}

.SEO .SEO__component .SEO__content .SEO__text p {
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    font-weight: 400;
    padding: 15px 0;
}


/* ---Post Format--- */

.boder {
    border: 1px solid rgb(165, 147, 147);
    width: 40px;
    margin: auto;
}

.format .format__component {
    text-align: center;
    padding: 50px;
}

.format .format__component .format__title h5 {
    padding: 20px 0;
    text-transform: uppercase;
    color: darkgray;
    font-family: 'Raleway', sans-serif;
    font-size: 24px;
    font-weight: 300;
}

.format .format__component .format__title h3 {
    padding: 20px 0;
    text-transform: uppercase;
    color: darkgray;
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
    font-weight: 400;
}

.format .format__component .format__title p {
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    font-weight: 400;
    padding-bottom: 20px;
}

.format .format__component .format__content p {
    padding: 20px 0;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    font-weight: 400;
}


}
.format .format__component .format__img {
    padding: 25px 0;
}

/*---recen post---*/
.recent {
    align-items: flex-start;
}
.recent .recent__title {
    padding: 0 25px;
}
.recent .recent__title .boder1 {
    border: 1px solid rgb(165, 147, 147);
    width: 40px;
    height: 2px;
    margin-top: 10px;
}
.recent .recent__component .recent__card {
    display: flex;
}
.recent .recent__component .recent__card .recent__img {
    flex-basis: 10%;
    max-width: 10%;
    padding: 25px;
}
.recent .recent__component .recent__card .recent__text {
    padding: 50px 0;
}

/*--template---*/
.template {}
.template .template__component {
    display: flex;
    flex-wrap: wrap;
}
.template .template__component .template__card {
    flex-basis: 50%;
    max-width: 50%;
    padding: 20px;
}
.template .template__component .template__card .template__content {
    text-align: center;
}
.template .template__component .template__card .template__content h5 {
    padding: 20px 0;
    text-transform: uppercase;
    color: darkgray;
    font-family: 'Raleway', sans-serif;
    font-size: 24px;
    font-weight: 300;
}
.template .template__component .template__card .template__content h3 {
    padding: 20px 0;
    text-transform: uppercase;
    color: darkgray;
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
    font-weight: 400;
}
.template .template__component .template__card .template__content p {
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    font-weight: 400;
    padding-bottom: 20px;
}
.template .template__component .template__card .template__content .boder2 {
    border: 1px solid rgb(165, 147, 147);
    width: 40px;
    margin: auto;
}
.template__text p {
    padding: 20px 0;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    font-weight: 400;
}