*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.container{
    max-width: 1170px;
    margin: auto;
}
a{
    text-decoration: none;
}
img{
    display: block;
    width: 100%;
}

.BackgroundTransitions{
    margin-top: 4rem;
}
.BackgroundTransitions h3{
    margin-bottom: 25px;
}
.BackgroundTransitions a{
    border: none;
    background: #80808073;
    padding: 15px 30px;
    color: gray;
    display: inline-block;
    margin: 17px 10px;
}
.fade{
    transition: 0.4s;
}
.BackgroundTransitions .fade:hover{
    background: rgba(0, 0, 255, 0.521);
    color: white;
}
.SweepToRight{
    position: relative;
}
.SweepToRight__overlay{
    height: 100%;
    transition: 0.4s;
    background: rgba(0, 0, 255, 0.521);
    color: white;
    opacity: 0;
    position: absolute;
    width: 0;
    left: 0;
    top: 0;
}
.SweepToRight:hover .SweepToRight__overlay {
    opacity: 1;
    width: 100%;
}
.SweepToLeft{
    position: relative;
}
.SweepToLeft__overlay{
    height: 100%;
    transition: 0.4s;
    background: rgba(0, 0, 255, 0.521);
    color: white;
    opacity: 0;
    position: absolute;
    width: 0;
    top: 0;
    right: 0;
    bottom: 0;
}
.SweepToLeft:hover .SweepToLeft__overlay{
    opacity: 1;
    width: 100%;
}
.SweepToBottom{
    position: relative;
}
.SweepToBottom::before{
    content: "";
    height: 0;
    transition: 0.4s;
    background: rgba(0, 0, 255, 0.521);
    color: white;
    opacity: 0;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
}
.SweepToBottom:hover::before{
    opacity: 1;
    height: 100%;
}
.SweepToTop{
    position: relative;
}
.SweepToTop::before{
    content: "";
    height: 0;
    transition: 0.4s;
    background: rgba(0, 0, 255, 0.521);
    color: white;
    opacity: 0;
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    right: 0;
}
.SweepToTop:hover::before{
    opacity: 1;
    height: 100%;
}
.ShutterInHorizontal{
    position: relative;
}
.ShutterInHorizontal::before{
    content: "";
    transition: 0.4s;
    background: rgba(0, 0, 255, 0.521);
    opacity: 0;
    position: absolute;
    width: 100%;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    transform: scaleX(1);
}
.ShutterInHorizontal:hover::before{
    opacity: 1;
    transform: scaleX(0);
}
.ShutterOutHorizontal{
    position: relative;
}
.ShutterOutHorizontal::before{
    content: "";
    transition: 0.4s;
    background: rgba(0, 0, 255, 0.521);
    opacity: 0;
    position: absolute;
    width: 0;
    bottom: 0;
    top: 0;
    left: 50%;
    right: 50%;
}
.ShutterOutHorizontal:hover::before{
    opacity: 1;
    left: 0;
    right: 0;
    width: 100%;
}
.ShutterInVertical{
    position: relative;
}
.ShutterInVertical::before{
    content: "";
    transition: 0.4s;
    background: rgba(0, 0, 255, 0.521);
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 0;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}
.ShutterInVertical:hover::before{
    opacity: 1;
    top: -50%;
    bottom: -50%;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
}


/* <!-- Border Transitions --> */

.BorderTransition{
    margin-top: 4rem;
}
.BorderTransition h2{
    margin-bottom: 25px;
}
.BorderTransition a{
    border: none;
    background: #80808073;
    padding: 15px 30px;
    color: gray;
    display: inline-block;
    margin: 17px 10px;
}
.border-fade{
    transition: 0.4s;
}
.border-fade:hover{
    border: 4px solid rgba(0, 0, 255, 0.644);
}
.hollow{
    transition: 0.4s;
}
.hollow:hover{
    border: 4px solid #80808073  ;
    background: white;
}
.trim{
    position: relative;
}
.trim::before{
    content: "";
    position: absolute;
    border: white solid 4px;
    top: 4px;
    left: 4px;
    right: 4px;
    bottom: 4px;
    opacity: 0;
}
.trim:hover::before{
    opacity: 1;
}
.outline-out{
    position: relative;
}
.outline-out::before{
    content: '';
    position: absolute;
    border: #e1e1e1 solid 4px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    transition: 0.4s;
}
.outline-out:hover::before{
    opacity: 1;
    top: -8px;
    left: -8px;
    right: -8px;
    bottom: -8px;
}
.outline-in{
    position: relative;
}
.outline-in::before{
    content: '';
    position: absolute;
    border: #e1e1e1 solid 4px;
    top: -16px;
    right: -16px;
    bottom: -16px;
    left: -16px;
    opacity: 0;
    transition: 0.4s;
}
.outline-in:hover::before{
    opacity: 1;
    top: -8px;
    left: -8px;
    right: -8px;
    bottom: -8px;
}
.round-conners{
    position: relative;
}
.round-conners::before{
    content: '';
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    transition: 0.4s;
}
.round-conners:hover::before{
    border-radius: 2rem;
}
.underline-from-left{
    position: relative;
}
.underline-from-left::before{
    content: '';
    position: absolute;
    border-bottom:rgba(0, 0, 255, 0.644)  solid 4px;
    bottom: 0;
    left: 0;
    opacity: 0;
    width: 0;
    transition: 0.4s;
}
.underline-from-left:hover::before{
    opacity: 1;
    width: 100%;
}
.underline-from-right{
    position: relative;
}
.underline-from-right::before{
    content: '';
    position: absolute;
    border-bottom: rgba(0, 0, 255, 0.644)  solid 4px;
    right: 0;
    bottom: 0;
    opacity: 0;
    width: 0;
    transition: 0.4s;
}
.underline-from-right:hover::before{
    opacity: 1;
    width: 100%;
}
.underline-from-center{
    position: relative;
}
.underline-from-center::before{
    content: '';
    position: absolute;
    border-bottom: rgba(0, 0, 255, 0.644)  solid 4px;
    right: 50%;
    left: 50%;
    bottom: 0;
    opacity: 0;
    width: 0;
    transition: 0.4s;
}
.underline-from-center:hover::before{
    left: 0;
    right: 0;
    opacity: 1;
    width: 100%;
}
.reveal{
    position: relative;
}
.reveal::before{
    content: '';
    position: absolute;
    border: rgba(0, 0, 255, 0.644)  solid 4px;
    right: 0;
    left: 0;
    bottom: 0;
    opacity: 0;
    border-width: 0;
    transition: 0.4s;
}
.reveal:hover::before{
    opacity: 1;
    width: 100%;
}
.underline-reveal{
    position: relative;
}
.underline-reveal::before{
    content: '';
    position: absolute;
    border-bottom: rgba(0, 0, 255, 0.644)  solid 4px;
    right: 0;
    left: 0;
    bottom: 0;
    opacity: 0;
    width: 0;
    height: 4px;
    transition: 0.4s;
}
.underline-reveal:hover::before{
    opacity: 1;
    height: 4px;
}
.overline-from-left{
    position: relative;
}
.overline-from-left::before{
    content: '';
    position: absolute;
    border-top: rgba(0, 0, 255, 0.644)  solid 4px;
    right: 0;
    left: 0;
    top: 0;
    opacity: 0;
    width: 0;
    transition: 0.4s;
}
.overline-from-left:hover::before{
    width: 100%;
    opacity: 1;
}
.overline-from-center{
    position: relative;
}
.overline-from-center::before{
    content: '';
    position: absolute;
    border-top: rgba(0, 0, 255, 0.644)  solid 4px;
    right: 50%;
    left: 50%;
    top: 0;
    opacity: 0;
    width: 0;
    transition: 0.4s;
}
.overline-from-center:hover::before{
    width: 100%;
    left: 0;
    right: 0;
    opacity: 1;
}
.overline-from-right{
    position: relative;
}
.overline-from-right::before{
    content: '';
    position: absolute;
    border-top: rgba(0, 0, 255, 0.644)  solid 4px;
    right: 0;
    top: 0;
    opacity: 0;
    width: 0;
    transition: 0.4s;
}
.overline-from-right:hover::before{
    width: 100%;
    opacity: 1;
}
/* effect */

.CaptionHoverEffect1 .effect1{
    max-width: 33.33%;
    position: relative;
}
.CaptionHoverEffect1 .effect1 .effect1__overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    background: #2c3f52;
    top: 20px; 
    left: 20px;
    opacity: 0;
    transition: 0.4s;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
   
}
.effect1:hover .effect1__overlay{
    opacity: 1;
    width: 100%;
    height: 100%;
}

.CaptionHoverEffect2 .effect2{
    max-width: 33.33%;
    position: relative;
}
.CaptionHoverEffect2 .effect2 .effect2__overlay{
    width: 100%;
    height: 25%;
    position: absolute;
    background: #2c3f52;
    bottom: 0; 
    left: 0;
    right: 0;
    opacity: 0;
    transition: 0.4s;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
   
}
.effect2:hover  img{
    position: relative;
    transform: translateY(-50px);
    transition: 0.4s;
}
.effect2:hover .effect2__overlay{
    opacity: 1;
    width: 100%;
}


.CaptionHoverEffect3 .effect3{
    max-width: 33.33%;
    position: relative;
}
.CaptionHoverEffect3 .effect3 .effect3__overlay{
    width: 100%;
    height: 0;
    position: absolute;
    background: #2c3f52;
    bottom: 0; 
    left: 0;
    right: 0;
    opacity: 0;
    transition: 0.4s;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
   
}
.effect3:hover  img{
    position: relative;
    /* transform: translateY(50px);
    bottom: 50px; */
    transition: 0.4s;
}
.effect3:hover .effect3__overlay{
    opacity: 1;
    width: 100%;
    height: 25%;
}

.CaptionHoverEffect5 .effect5{
    max-width: 33.33%;
    position: relative;
}
.CaptionHoverEffect5 .effect5 .effect5__overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    background: #2c3f52;
    bottom: 0; 
    left: 0;
    right: 0;
    opacity: 0;
    transition: 0.4s;
    display: flex;
    justify-content: left;
    text-align: center;
    color: white;
    /* align-items: center; */ 
   
}
.effect5 img{
    z-index: 1;
}
.effect5:hover  img{
    position: relative;
    transition: 0.4s;
    transform: scale(0.4);
}
.effect5:hover .effect5__overlay{
    opacity: 1;
    width: 100%;
    height: 100%;
}

.CaptionHoverEffect6 .effect6{
    max-width: 33.33%;
    position: relative;
}
.CaptionHoverEffect6 .effect6 .effect6__overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    background: #2c3f52;
    bottom: 0; 
    left: 0;
    right: 0;
    opacity: 0;
    transition: 0.4s;
    display: flex;
    /* justify-content: left;
    text-align: center; */
    color: white;
    /* align-items: center; */ 
   
}
.effect6 .effect6__title{
    margin: auto 0 0 0;
}
.effect6 img{
    z-index: 1;
}
.effect6:hover  img{
    position: relative;
    transition: 0.4s;
    transform: scale(0.4);
}
.effect6:hover .effect6__overlay{
    opacity: 1;
    width: 100%;
    height: 100%;
}




.CaptionHoverEffect7 .effect7{
    max-width: 33.33%;
    position: relative;
}
.CaptionHoverEffect7 .effect7 .effect7__overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    background: #2c3f52;
    bottom: 0; 
    left: 0;
    right: 0;
    opacity: 0;
    transition: 0.4s;
    display: flex;
    overflow: hidden;
    /* justify-content: left;
    text-align: center; */
    color: white;
    /* align-items: center; */ 
   
}
.effect7 .effect7__title{
    margin: auto auto 0 auto;
}
.effect7 img{
    z-index: 1;
}
.effect7:hover  img{
    position: relative;
    transition: 0.4s;
    transform: scale(1);
}
.effect7:hover .effect7__overlay{
    opacity: 1;
    height: 130%;
    width: 105%;
    top: -10px;
    left: -10px;
    right: -10px;
}

