/* RESET CSS */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    line-height: 1;
}
body{
    font-family: sans-serif;
    font-size: 14px;
}
ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
a{
    text-decoration: none;
    display: inline-block;
}
button{
    cursor: pointer;
    border: none;
    outline: none;
}
/* END RESET */

/*HEADER*/
.main{

}
.header .navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1170px;
    margin: auto;
    padding: 0 15px;
}
.navbar-logo{
    width: 25%;
}
.logo a{
    font-size: 25px;
    color: #333333;
}
.navbar-menu{
    width: 75%;
}
.menu{
    white-space: nowrap;
    font-size: 0;
    display: flex;
    justify-content: center;
}
.menu .menu-item a{
    color: #333;
    font-size: 14px;
    text-transform: uppercase;
    padding: 20px 15px;
}
/*END HEADER*/

/*MAIN*/
.main{
    padding-top: 30px;
}
.container{
    max-width: 1170px;
    margin: auto;
    padding: 0 15px;
}
.intro{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.television .thumb{
    display: block;
    width: 100%;
}
.content{}
.content .heading{
    font-weight: 400;
}
.description{
    line-height: 1.5;
    color: rgb(80, 66, 66);
    padding: 15px 0;
}
.btn-link{
    text-transform  : uppercase;
    color: #ffffff;
    background: rgb(76, 78, 197);
    padding: 15px 35px;
    font-size: 12px;

}
.gallery{
    padding: 30px 12px;
    text-align: center;
}
.gallery .title{
    text-transform: uppercase;
    font-size: 16px;
    color: rgb(104, 92, 92);
    font-weight: 300;
}
.gallery .border{
    padding-top: 20px;
    border-bottom: 2px solid grey;
    width: 40px;
    margin: auto;
}
.gallery .heading{
    font-weight: 300;
    font-size: 25px;
    padding-top: 20px;
}
.gallery .description{
    font-weight: 300;
}
.bg-hero{
    width: 100%;
    display: block;
}
.gallery .btn-link{
    padding: 5px;
    border-left: 1px solid #333;
    border-right: 1px solid #333;
    background: unset;
    color: rgb(43, 35, 35);
    font-weight: bold;
}
.recent-posts{
    padding: 0 15px;
}
.recent-posts .header .title{
    text-transform: uppercase;
    font-weight: 300;
    font-size: 16px;
}
.header .border{
    padding-top: 20px;
    border-bottom: 2px solid rgb(87, 60, 60);
    width: 50px;
}
.card-wrap{
    padding: 25px 0;
    display: flex;
    flex-direction: column;
}
.card-wrap .card{
    display: flex;
    padding-bottom: 25px;
}
.card-wrap .card:last-child{
    padding-bottom: 0;
}
.card .thumbnail{
    display: block;
}
.card-title{
    padding: 12px 0 20px 15px;
}
.card-title .title{
    color: #333;
    font-weight: 400;
}
.date{
    color: rgb(192, 178, 178);
    font-weight: 500;
    display: block;
    padding-top: 20px;
}
/*END MAIN*/
