        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        
         :root {
            --color-white: #fff;
            --text-uppercase: uppercase;
        }
        
        html {
            font-size: 62.5%;
            line-height: 1;
        }
        
        body {
            font-family: 'Lora', serif;
            font-size: 14px;
        }
        
        ul {
            margin: 0;
            padding: 0;
            list-style: none;
        }
        
        a {
            text-decoration: none;
            display: inline-block;
        }
        
        button {
            cursor: pointer;
            border: none;
            outline: none;
        }
        
        input {
            border: none;
            outline: none;
        }
        
        .container {
            max-width: 1170px;
            margin: auto;
            padding: 0 15px;
        }
        
        .wrapper {
            /* overflow: hidden; */
        }
        /* =================HEADER======================= */
        
        .header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0 25px;
            border-bottom: 1px solid #f2f2f2;
        }
        
        .header .header-menu {
            display: flex;
            white-space: nowrap;
        }
        
        .header .header-menu .menu-item {
            margin-right: 25px;
        }
        
        .header .header-menu .menu-item:last-child {
            margin-right: 0;
        }
        
        .header .header-menu .menu-item a {
            text-transform: uppercase;
            padding: 20px 0;
            color: #1c202a;
            font-weight: 600;
            font-size: 12px;
        }
        
        .header .header-menu .menu-item .active {
            color: #a161bf;
        }
        
        .header .header-search {
            display: flex;
        }
        
        .header .header-search input {
            padding: 6px;
        }
        
        .header .header-search input:focus {
            border: 1px solid #a161bf;
        }
        
        .header .header-search .btn-search {
            background: transparent;
            margin-left: 10px;
        }
        /* ===============  MAIN  ======================= */
        /* ==================  LOGO  =============================== */
        
        .logo {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 30px 0;
        }
        
        .logo .logo-title img {
            width: 100%;
            display: block;
        }
        
        .logo .logo-title p {
            margin-top: 10px;
            color: #696969;
            font-size: 14px;
        }
        /* ==================  BANNER  =============================== */
        
        .banner {
            background: url('/assets/img/bg.jpg') no-repeat center;
            background-size: cover;
            height: 60vh;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
            object-fit: cover;
        }
        
        .banner-title {
            color: var(--color-white);
        }
        
        .banner .banner-content h4 {
            font-weight: 300;
            font-size: 14px;
            text-transform: var(--text-uppercase);
        }
        
        .banner .banner-content h4 a {
            padding-bottom: 15px;
            border-bottom: 2px solid #fff;
        }
        
        .banner .banner-content h2 {
            font-size: 28px;
            padding: 20px 0 30px;
        }
        
        .banner .banner-content .link {
            color: var(--color-white);
            font-size: 14px;
            text-transform: var(--text-uppercase);
            font-weight: 700;
            padding: 0 10px;
            border-left: 1px solid #fff;
            border-right: 1px solid #fff;
        }
        /* ========================  BLOCK  ============================ */
        
        .block {}
        
        .block-wrap {
            display: flex;
            flex-wrap: wrap;
        }
        
        .block-left {
            max-width: 70%;
            flex-basis: 70%;
        }
        
        .block-wrap .block-left .standard {
            text-align: center;
            padding: 30px 15px;
        }
        
        .block-wrap .block-left .standard .standard-title {
            border-bottom: 1px solid #f2f2f2;
            padding-bottom: 20px;
        }
        
        .block .block-left .standard .standard-title h4 a {
            color: #696969;
            font-size: 12px;
            text-transform: var(--text-uppercase);
            position: relative;
        }
        
        .block .block-left .standard .standard-title h4 a::after {
            content: "";
            position: absolute;
            left: 50%;
            top: 20px;
            transform: translateX(-50%);
            width: 40px;
            height: 2px;
            background: #a161bf;
        }
        
        .block .block-left .standard .standard-title h2 a {
            padding: 20px 0;
            font-size: 2.4rem;
            color: #444444;
        }
        
        .block .block-left .standard img {
            width: 100%;
            display: block;
        }
        
        .block .block-left .standard .standard-title p,
        .block .block-left .standard p {
            font-size: 14px;
            margin-bottom: 20px;
            color: #696969;
        }
        
        .block .block-left .standard p {
            margin-top: 20px;
            line-height: 1.5;
        }
        
        .block .block-left .standard .block-link {
            text-transform: var(--text-uppercase);
            color: #696969;
            padding: 0 10px;
            border-left: 1px solid #444444;
            border-right: 1px solid #444444;
        }
        /* ========================TEMPLATE=========================== */
        
        .template {
            display: flex;
            flex-wrap: wrap;
        }
        
        .template-top,
        .template-bottom {
            max-width: 50%;
            flex-basis: 50%;
        }
        
        .template .template-top .standard .standard-title,
        .template .template-bottom .standard .standard-title {
            padding-bottom: unset;
            border-bottom: unset;
        }
        /* ===========================INTRO================================ */
        
        .block-right {
            padding: 0 15px;
            max-width: 30%;
            flex-basis: 30%;
        }
        
        .intro {
            padding: 30px 0 50px;
        }
        
        .intro .intro-title {
            color: #696969;
            font-size: 16px;
            text-transform: var(--text-uppercase);
            position: relative;
            margin-bottom: 30px;
        }
        
        .intro .intro-title::after {
            content: "";
            position: absolute;
            left: 0;
            top: 20px;
            width: 40px;
            height: 2px;
            background: #a161bf;
        }
        
        .intro img {
            width: 100%;
            display: block;
        }
        
        .intro p {
            margin-top: 20px;
            line-height: 1.5;
        }
        /* ================FOLLOW================= */
        
        .follow {
            padding-bottom: 40px;
        }
        
        .follow ul {
            display: flex;
            padding-left: 30px;
        }
        
        .follow ul li {
            margin-right: 25px;
        }
        
        .follow ul li:last-child {
            margin-right: 0;
            padding: 0 10px;
        }
        
        .follow ul li a {
            color: #1c202a;
        }
        /* =================POST=========================== */
        
        .post-wrap .post {
            display: flex;
            align-items: center;
            margin-bottom: 20px;
        }
        
        .post-wrap .post:last-child {
            margin-bottom: 0;
        }
        
        .post-wrap .post img {
            width: 100px;
            height: auto;
            display: block;
        }
        
        .post-wrap .post .post-content {
            margin-left: 25px;
        }
        
        .post-wrap .post .post-content .post-title {
            color: #393939;
            font-size: 16px;
        }
        
        .post-wrap .post .post-content span {
            display: block;
            margin-top: 15px;
            color: #696969;
            font-size: 12px;
        }
        /* ==================SEARCH====================== */
        
        .search {
            font-size: 0;
            display: flex;
        }
        
        .search input {
            border: 1px solid #ddd;
            padding: 6px 10px;
            font-size: 14px;
            color: #333333;
            max-width: 70%;
            flex-basis: 70%;
        }
        
        .search .btn-search {
            text-transform: var(--text-uppercase);
            color: #696969;
            font-size: 12px;
            background: #f2f2f2;
            padding: 8px 20px;
            max-width: 30%;
            flex-basis: 30%;
        }
        /* =======================CATEGORY=============================== */
        
        .category {
            margin-top: 40px;
        }
        
        .category .category-menu .category-item {
            margin-bottom: 10px;
            padding-bottom: 10px;
            border-bottom: 1px solid #f2f2f2;
        }
        
        .category .category-menu .category-item:last-child {
            margin-bottom: 0;
        }
        
        .category .category-menu .category-item a {
            font-size: 12px;
            color: #696969;
        }
        
        .category .category-menu .category-item .value {
            float: right;
            font-size: 14px;
            color: #696969;
        }
        /* ===========================FOOTER======================================= */
        
        .footer {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 50px 0;
            background: #f2f2f2;
        }
        
        .footer .footer-content ul {
            display: flex;
            justify-content: center;
            margin-bottom: 20px;
        }
        
        .footer .footer-content ul li {
            margin-right: 25px;
        }
        
        .footer .footer-content ul li:last-child {
            margin-right: 0;
        }
        
        .footer .footer-content ul li a {
            color: #1c202a;
            padding: 10px 0;
            font-size: 14px;
        }
        
        .footer .footer-content p {
            color: #696969;
            font-size: 14px;
        }