.container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
}

img {
    display: block;
    width: 100%;
}

.content {
    color: white;
}

span {
    background-color: brown;
    padding: 10px;
}

.box {
    width: 400px;
    height: 300px;
}

.effect1 {
    position: relative;
    margin: 20px
}

.effect1__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    opacity: 0;
    transition: 0.5s;
}

.effect1:hover .effect1__overlay {
    transform: translate(10px, 10px);
    opacity: 1;
}

.effect2 {
    position: relative;
    margin: 20px;
}

.effect2>.content {
    position: absolute;
    height: 30%;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    bottom: 0;
}

.effect2__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transition: 0.5s;
    z-index: 1;
}

.effect2:hover .effect2__overlay {
    transform: translateY(-30%);
}

.effect3 {
    position: relative;
    margin: 20px;
    overflow: hidden;
}

.effect3>.content {
    position: absolute;
    height: 0%;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    bottom: 0;
    overflow: hidden;
    transition: 0.5s;
}

.effect3__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transition: 0.5s;
    z-index: -1;
    transition-property: height;
    overflow: hidden;
    transition: 0.5s;
}

.effect3:hover .content {
    height: 30%;
}

.effect3:hover .effect3__overlay {
    transform: translateY(-15%);
}

.effect4 {
    position: relative;
    margin: 20px;
    overflow: hidden;
}

.effect4>.content {
    position: absolute;
    height: 100%;
    width: 0%;
    background-color: black;
    top: 0;
    left: 0;
    transition: 0.5s;
    overflow: hidden;
    white-space: nowrap;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.effect4__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    transition: 0.5s;
    z-index: -1;
    transition-property: height;
    overflow: hidden;
    transition: 0.5s;
}

.effect4:hover .content {
    width: 50%;
}

.effect4:hover .effect4__overlay {
    transform: translateX(25%);
}

.effect5 {
    position: relative;
    margin: 20px;
}

.effect5 .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    background-color: black;
    transition: 0.5s;
    z-index: 1;
}

.effect5__overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    z-index: 2;
    transition: 0.5s;
}

.effect5:hover .content {
    width: 100%;
    height: 100%;
}

.effect5:hover .effect5__overlay {
    width: 50%;
    height: 50%;
}

.effect6 {
    position: relative;
    margin: 20px;
}

.effect6 .content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    background-color: black;
    transition: 0.5s;
    z-index: 1;
}

.effect6__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    transition: 0.5s;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -30%);
}

.effect6:hover .effect6__overlay {
    width: 50%;
    height: 50%;
}

.effect7 {
    position: relative;
    margin: 20px;
}

.effect7 .content {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    background-color: black;
    transition: 0.5s;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.effect7__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
}

.effect7:hover .content {
    height: 138%;
    width: 104%;
    top: 66%;
}