* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}


/* ============effect1================== */

.wrapper {
    padding: 40px;
}

.div {
    margin-bottom: 15px;
}

.div:last-child {
    margin-bottom: 0;
}

.div1 {
    color: #666666;
    padding: 10px;
    width: 150px;
    height: 40px;
    text-align: center;
    background: #e1e1e1;
    transition: 0.5s;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.div1:hover {
    color: #fff;
    background: rgb(77, 77, 212);
}


/* ======================effect2========================= */

.div3 {
    width: 150px;
    height: 40px;
    background: #ddd;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.div3::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 100%;
    transition: 0.5s;
}

.div3:hover::before {
    width: 100%;
    background: rgba(216, 151, 151, 0.5);
}


/* ==================div4======================= */

.div4 {
    width: 150px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background: #ddd;
}

.div4::after {
    content: "";
    position: absolute;
    right: 0;
    width: 0;
    height: 100%;
    transition: 0.5s;
}

.div4:hover::after {
    width: 100%;
    background: rgba(119, 119, 206, 0.5);
    color: #fff;
}


/* ======================div5=================== */

.div5 {
    width: 150px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background: #ddd;
}

.div5::after {
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    height: 0;
    transition: 0.5s;
}

.div5:hover::after {
    height: 100%;
    background: rgba(119, 119, 206, 0.5);
}


/* ======================div6=================== */

.div6 {
    width: 150px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background: #ddd;
}

.div6::after {
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 0;
    transition: 0.5s;
}

.div6:hover::after {
    height: 100%;
    background: rgba(119, 119, 206, 0.5);
}


/* ======================div8=================== */

.div8 {
    width: 150px;
    height: 60px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background: #ddd;
    overflow: hidden;
}

.div8::after {
    content: "";
    position: absolute;
    width: 50%;
    height: 50%;
    transform: scale(0.5);
    border-radius: 50%;
    transition: 0.3s;
}

.div8:hover::after {
    width: 100%;
    height: 100%;
    border-radius: 100%;
    transform: scale(2);
    background: rgb(78, 78, 148, 0.8);
}


/* ======================div9=================== */

.div9 {
    width: 150px;
    height: 60px;
    background: #ddd;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.div9::after {
    content: "";
    border-radius: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transform: scale(2);
    transition: 0.5s;
}

.div9:hover::after {
    transform: scale(0);
    background: rgb(122, 122, 185, 0.8);
    border-radius: 0;
}


/* ======================div11=================== */

.div11 {
    width: 160px;
    height: 50px;
    background: #ddd;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.div11::after {
    content: "";
    position: absolute;
    width: 5%;
    height: 5%;
    transition: 0.4s;
    transform: scale(1);
}

.div11:hover::after {
    width: 100%;
    height: 100%;
    transform: scale(2);
    background: rgb(73, 73, 126);
    color: #fff;
    opacity: 0.5;
}


/* ======================div12=================== */

.div12 {
    background: #ddd;
    width: 160px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.child3 {
    position: absolute;
    left: 0;
    width: 0;
    height: 100%;
    transition: 0.4s;
}

.div12:hover .child3 {
    width: 50%;
    background: rgba(90, 90, 184, 0.6);
}

.child4 {
    position: absolute;
    right: 0;
    width: 0;
    height: 100%;
    transition: 0.4s;
}

.div12:hover .child4 {
    width: 50%;
    background: rgba(90, 90, 184, 0.6);
}


/* ======================div13=================== */

.div13 {
    background: #ddd;
    width: 160px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.child5 {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 0;
    height: 100%;
    transition: 0.4s;
}

.div13:hover .child5 {
    width: 100%;
    background: rgba(90, 90, 184, 0.6);
}

.child6 {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 0;
    height: 100%;
    transition: 0.3s;
}

.div13:hover .child6 {
    width: 100%;
    background: rgba(90, 90, 184, 0.6);
}


/* ======================div14=================== */

.div14 {
    width: 160px;
    height: 40px;
    background: #ddd;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.child1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 0;
    transition: 0.4s;
}

.div14:hover .child1 {
    height: 100%;
    background: rgba(90, 90, 184, 0.6);
}

.child2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 0;
    transition: 0.4s;
}

.div14:hover .child2 {
    height: 100%;
    background: rgba(90, 90, 184, 0.6);
}