*{
    font-family: 'Montserrat', serif;
}
.wrapper{
    overflow: hidden;
}
a{
    text-decoration: none;
}
.header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 100;
    padding: 10px 20px;
}
.header__logo{
    /* padding: 0px 100px; */   
    text-align: center;
}
.header .header__menu  {
    display: flex;
    justify-content: flex-end;
}
.header .header__menu li {
    padding: 25px 15px;
}
.header .header__menu li a {
    color: white;
    text-transform: capitalize;
    font-weight: 200;
    font-size:12px;
}
.header .header__menu li:hover a {
    opacity: 0.7;
}
.header .header__menu li .menu-style{
    background: white;
    color: black;
    padding: 14px;
    font-weight: 500;
}
.header__bars{
    display: none;
}
.header__bars a{
    color: white;
    background: black;
    padding: 5px 10px;
    font-size: 18px;
}
@media (max-width: 990px){
    .header .header__menu{
        display: none;
    }
    .header .header__bars{
        display: block;
    }
}

/* the-hotel */
.the-hotel{
    padding: 3rem 0px;
}
.the-hotel__content{
    align-items: center;
}
.the-hotel .hotel-text h4{
    font-size: 14px;
    font-weight: 500;
    color: #848484;
}
.hotel-text h2{
    font-size: 35px;
    font-weight: 500;
    color: #c0812a;
    padding: 15px 0px;
}
.hotel-text p{
    font-size: 14px;
    font-weight: 400;
    color: #707070;
    padding-bottom: 2rem;
}
.hotel-text a{
    font-size: 12px;
    background: darkgray;
    padding: 10px 20px;
    color: white;
    border-radius: 20px
}
.hotel-text a:hover{
    transition: 0.3s;
    background-color: rgba(169, 169, 169, 0.507);
}

/* rooms */
.rooms{
    background: #c0822a0f;
}
.rooms .rooms__content h1{
    font-size: 35px;
    text-align: center;
    font-weight: 600;
    padding: 5rem 0px 15px;
    color: #c0812a;
}
.rooms .rooms__content p{
    text-align: center;
    width: 70%;
    margin: auto;
    font-size: 14px;
    color: gray;
}
.rooms-items{
    padding: 3rem 0px;
}
.rooms__content .rooms-item{
    background: white;
}
.item-caption {
    text-align: center;
    padding: 30px;
}
.rooms .item-caption a{
    color: white;
    background: darkgray;
    padding: 10px 4rem;
    font-size: 11px;
    font-weight: 600;
}
.rooms .item-caption h3{
    padding: 20px 0px 10px;
    font-size: 14px;
    font-weight: 600;
}
.rooms .item-img{
    overflow: hidden;
}
.rooms .item-img img{
    overflow: hidden;
}
.rooms .item-img:hover img{
    transform: scale(1.3);
    overflow: hidden;
    opacity: 0.7;
    transition: 0.4s;
}

/* gallery */
.gallery{
    padding: 3rem 0px 0px;
}
.gallery2{
    padding: 6rem 0px;
    background-color: rgba(255, 192, 203, 0.384);
}
.gallery2-item{
    text-align: center;
    padding: 15px;
}
.gallery2-caption h3{
    font-size: 14px;
    font-weight: 600;
    padding: 10px 0px 15px;
}
.gallery2-caption p{
    font-size: 14px;
    font-weight: 400;
    color: gray;
}

/* service */
.service>.row{
    align-items: center;
    background: #c0812a;
}
.service-text{
    text-align: left;
    color: white;
    padding: 0px 4rem;
}
.service-text h3{
    font-size: 45px;
    font-weight: 500;
    padding-bottom: 15px;
}
.service-text p{
    font-size: 18px;
    font-weight: 400;
    padding-bottom: 3rem;
}
.service-text .table h2{
    padding-bottom: 15px;
    font-size: 20px;
    font-weight: 500;
}
.service-text .table p{
    font-size: 14px;
    font-weight: 400;
}

/* offers */
.offers{
    padding: 8rem 0px 0px;
    background-color: rgba(255, 192, 203, 0.103);
}
.offers h1{
    text-align: center;
    color: #c0812a;
    font-weight: 700;
    font-size: 35px;
}
.offers p{
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    color: darkgray;
}
.list-offer{
    padding: 6rem 0px;
}
.list-offer .offer-img{
    padding: 0;
}
.list-offer img{
    height: 300px;
}
.list-offer .offer-item-content{
    align-items: center;
    margin-bottom: 2rem;
    background: white;
}
.list-offer .offer-item-content .offer-text{
    padding: 2.5rem;
}
.list-offer .offer-item-content .offer-text h2{
    font-size: 14px;
    font-weight: 600;
    padding-bottom: 15px;
}
.list-offer .offer-item-content .offer-text h4{
    font-size: 13px;
    font-weight: 400;
    padding-bottom: 15px;
}
.list-offer .offer-item-content .offer-text a{
    font-size: 12px;
    color: #c0812a;
}

/* people */
.people{
    padding: 4rem 0px;
}
.people .people-img{
    padding-bottom: 15px;
}
.people .people-img img{
    border-radius: 100%;
}
.people .people-caption p{
    font-size: 13px;
    font-weight: 400;
    color: gray;
    padding: 15px;
}
.people .people-caption h3{
    font-size: 12px;
    font-weight: 600;
}
/* banner3 */
.banner3{
    background-image: url(http://www.themezaa.com/html/leadgen/demo/hotel/images/bg-image/hero-bg25.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 6rem 0px;
}
.banner3 .banner-bg{
    background: black;
    color: white;
    padding: 3rem;
    text-align: center;
}
.banner3 .banner-bg .banner-content h3{
    font-size: 13px;
    font-weight: 400;
}
.banner3 .banner-bg .banner-content h2{
    color: #c0812a;
    font-size: 24px;
    font-weight: 300;
    padding: 10px 0px 20px;
}
.banner3 .banner-bg .banner-content p{
    font-size: 14px;
    color: gray;
    font-weight: 400;
}

/* counter */
.counter{
    padding: 6rem;
    text-align: center;
}
.counter p{
    font-size: 16px;
    padding-top: 10px;
}
.counter span{
    font-size: 28px;
    font-weight: 600;
}

/* booking */
.booking{
    background: #c0812a;
}
.book-img{
    padding: 0;
}
.book-content{
    color: white;
    padding: 0px 6rem;
}
.book-content h1{
    font-size: 50px;
    font-weight: 600;
}
.book-content h2{
    font-size: 28px;
    font-weight: 500;
    padding: 12px 0px;
}
.book-content p{
    font-size: 16px;
    padding-bottom: 15px;
    font-weight: 400;
}
.book-content input{
    width: 85%;
    padding: 15px;
    margin: 10px 0px;
    border: none;
}
.book-content button{
    margin-top: 15px;
    padding: 13px;
    font-size: 13px;
    font-weight: 600;
    border: none;
    background: #ffff0038;
    color: gray;
}
.about-us{
    text-align: center;
    padding: 6rem 0px;
}
.about-us .item-content i{
    font-size: 35px;
    color: #c0812a;
}
.about-us .item-content h2{
    color: black;
    padding: 10px 0px;
    font-size: 14px;
    font-weight: 600;
}
.about-us .item-content p{
    font-size: 14px;
    color: gray;
    font-weight: 400;
}

/* maps */
.maps iframe{
    width: 100%;
    height: 100vh;
}

/* footer */
.footer{
    padding: 3rem 0px;
    font-size: 14px;
}
.footer .footer-logo{
    padding-bottom: 20px;
    text-align: center;
    border-bottom: 1px solid #80808075;
}
.footer .footer-content{
    padding-top: 30px;
}
.footer .footer-content ul{
    display: flex;
}
.footer .footer-content ul li{
    padding-left: 10px;
    font-size: 13px;
}
.footer .media li a{
    color: gray;
    padding: 15px 0;
}