* {
    margin: 0;
    padding: 0;
}

.wrapper {
    max-width: 100%;
}

.container {
    width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
}

.center {
    margin: 0 auto;
}


/* start-header */

.header {
    background: #ff0;
    display: flex;
    justify-content: space-between;
    padding: 0 100px;
    align-items: center;
}

.header .header_logo {
    display: flex;
}

.header .header_menu {
    list-style: none;
    display: flex;
}

.header .header_menu li {
    padding: 15px;
}

.header .header_menu li a {
    text-decoration: none;
}


/* end-header */


/* start-slider */

.slider {}

.slider .slider_component {
    padding: 20px 0px;
    display: flex;
    flex-wrap: nowrap;
}

.slider .slider_component .slider_img {
    display: flex;
    flex-wrap: wrap;
    max-width: 70%;
    flex-basis: 70%;
}

.slider .slider_component .slider_img img {
    width: 100%;
}

.slider .slider_component .slider_content {
    padding: 30px;
    flex-wrap: wrap;
    max-width: 30%;
    flex-basis: 30%;
}

.slider .slider_component .slider_content button {
    border: none;
    padding: 20px;
    background: #745cf8;
    color: #fff;
}

.slider .slider_component .slider_content p {
    padding: 30px 0px;
}


/* end-slider */


/* start-post */

.post {}

.post .post_col .post_component .post_cart {
    display: flex;
    padding: 20px;
}

.post .post_col .post_component .post_cart img {
    display: flex;
}

.post .post_col .post_component .post_cart .post_content {
    padding: 0 20px;
}


/* end-post */


/* start-format */

.format {}

.format .container .format_content {
    line-height: 1.5;
}

.format .container .format_content .format_component {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 265px;
}

.format .container .format_content .format_component h4 a {
    text-decoration: none;
    border-left: 2px solid #000;
    padding: 0 15px;
    border-right: 2px solid #000;
}


/* end-format */


/* start_template */

.template {
    display: flex;
    margin-bottom: 50px;
}


/* bạn set % cho nó chưa ? */

.template .templace_component {
    display: flex;
}

.template .templace_component .templace_cart {
    max-width: 50%;
    flex-basis: 50%;
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 0 100px;
}

.template .center {
    width: 50px;
    height: 3px;
    background: #000;
    margin-bottom: 30px;
}


/* end_template */