*{
    font-family: 'Montserrat', sans-serif;
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;
}
ul, ol{
    list-style: none;
}
a{
    text-decoration: none;
}
img{
    width: 100%;
    display: block;
}
.wrapper{
    overflow: hidden;
}
.container{
    max-width: 1170px;
    margin: auto;
}
.header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background: #212529;
}
.header__logo{
    padding: 0px 100px;
}
.header .header__logo a img{
    max-height: 2rem;
}
.header .header__menu {
    display: flex;
    padding-right: 6rem;
}
.header .header__menu  li {
    padding: 25px 15px;
}
.header .header__menu  li a {
    color: white;
    text-transform: uppercase;
    font-weight: 400;
    font-size:15px;
}
.header .header__menu  li:hover a {
    color: #fed136;
}

.fix-top{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 100;
}
.banner{
    background-image: url(https://startbootstrap.github.io/startbootstrap-agency/assets/img/header-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
}
.banner .banner__content h3{
    font-size: 36px;
    font-weight: 400;
}
.banner .banner__content h1{
    font-size: 72px;
    font-weight: 700;
    margin: 10px 0px 4rem;
}
.banner .banner__content a{
    font-size: 18px;
    background: #fed136;
    font-weight: 700;
    color: white;
    padding: 25px;
    border-radius: 15px;
}
.banner__content a:hover{
    background: rgba(192, 192, 26, 0.849);
}
.service{
    margin: 8rem 0px 2rem;
}
.service__content{
    text-align: center;
}
.service__content h3{
    font-size: 40px;
    padding-bottom: 20px;
    font-weight: 700;
}
.service__content p{
    font-size: 15px;
    font-weight: 400;
    font-style: italic;
    color: darkgrey;
}
.service__content .list-item{
    padding: 3rem 0px 0px;
    display: flex;
    flex-wrap: wrap;
}
.service__content .list-item .item{
    width: calc(100%/3);
    flex-basis: calc(100%/3);
    padding: 0px 20px;
}
.service__content .list-item .item .icon{
    color: white;
    background: #fed136;
    width: 50%;
    height: 50%;
    font-size: 5rem;
    border-radius: 100%;
    display: flex;
    margin: auto;
}
.service__content .list-item .item .icon i{
    margin: auto;
}
.service__content .list-item .item h2{
    padding: 15px 0px;
    font-size: 24px;
    font-weight: 700;
}
.portfolio{
    background: #f8f9fa !important;
    margin-top: 10rem ;
}
.portfolio .portfolio__content{
    text-align: center;
}
.portfolio__content h2{
    padding-top: 6rem;
    font-size: 40px;
    font-weight: 700;
}
.portfolio__content p{
    font-size: 15px;
    color: darkgray;
    font-weight: 400;
    font-style: italic;
    padding-bottom: 10px;
}
.portfolio__content .portfolio__list-item{
    display: flex;
    flex-wrap: wrap;
    padding-top: 3rem;
}
.portfolio__list-item .portfolio__item{
    width: 32%;
    flex-basis: 32%;
    padding: 0px 15px;
    background: white;
    margin: 2rem 7px;
}
.portfolio__item .caption h2{
    font-size: 24px;
    padding-top: 10px;
}
.portfolio__item .caption p{
    margin-bottom: 2rem;
}
.portfolio__content .item{
    position: relative;
}
.portfolio__content .portfolio__item .item .item-hover{
    display: flex;
    position: absolute;
    top: 0%;
    width: 100%;
    height: 100%;
    background: rgba(254, 209, 54, 0.9);
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: 0.4s;
}
.portfolio__content .item .item-hover .hover__content{
    font-size: 1.25rem;
    color: white;
}
.portfolio__item .item:hover .item-hover{
    opacity: 1;
}

.about h3{ 
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    padding: 8rem 0px 10px;
}
.about h5{
    text-align: center;
    font-size: 15px;
    color: gray;
    font-style: italic;
    padding-bottom: 5rem;
    font-weight: 400;
}

.timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  /* The actual timeline (the vertical ruler) */
  .timeline::after {
    content: '';
    position: absolute;
    width: 4px;
    background-color: rgba(128, 128, 128, 0.603);
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
  }
  
  /* Container around content */
  .container__timeline {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
  }
  
  /* The circles on the timeline */
  .container__timeline::after {
    content: '';
    position: absolute;
    width: 8rem;
    height: 8rem;
    right: -10%;
    background-color: white;
    border: 4px solid #FF9F55;
    top: 0px;
    border-radius: 50%;
    z-index: 1;
    background-image: url(https://startbootstrap.github.io/startbootstrap-agency/assets/img/about/1.jpg);
  }
  
  /* Place the container__timeline to the left */
  .left {
    left: 0;
  }
  
  /* Place the container__timeline to the right */
  .right {
    left: 50%;
  }
  
  /* Add arrows to the left container__timeline (pointing right) */
  .left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid white;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent white;
  }
  
  /* Add arrows to the right container__timeline (pointing left) */
  .right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }
  
  /* Fix the circle for container__timelines on the right side */
  .right::after {
    left: -72px;
  }
  
  /* The actual content */
  .content {
    padding: 10px 6rem 0px 12rem;
    background-color: white;
    position: relative;
    border-radius: 6px;
    text-align: right;
  }
  
  /* Media queries - Responsive timeline on screens less than 600px wide */
  @media screen and (max-width: 600px) {
    /* Place the timelime to the left */
    .timeline::after {
    left: 31px;
    }
    
    /* Full-width container__timelines */
    .container__timeline {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
    }
    
    /* Make sure that all arrows are pointing leftwards */
    .container__timeline::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
    }
  
    /* Make sure all circles are at the same spot */
    .left::after, .right::after {
    left: 15px;
    }
    
    /* Make all right container__timelines behave like the left ones */
    .right {
    left: 0%;
    }
  }

.team{
    background: #f8f9fa;
    margin-top: 14rem;
}
.team .team__content{
    margin : 3rem;
}
.team .team__content h2{
    text-align: center;
    font-size: 40px;
    font-weight: 600;
    padding: 6rem 0px 15px;
}
.team .team__content p{
    text-align: center;
    color: darkgray;
    font-size: 15px;
    font-style: italic;
    padding: 0px 0px 5rem;
}
.team__content .list-member{
    display: flex;
    flex-wrap: wrap;
}
.team__content .list-member .member{
    width: calc(100%/3);
    flex-basis: calc(100%/3);
    padding: 0 15px;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.list-member .member img{
    border: 0.5rem solid darkgray;
    border-radius: 100%;
    width: 50%;
    margin: auto;
}


.logo{
    margin: 3rem 0px;
}
.logo .logo__content {
    display: flex;
    flex-wrap: wrap;
}
.logo__content .logo-item{
    width: 25%;
    flex-basis: 25%;
    padding: 0px 2rem;
}


.contact{
    background-color: #212529;
    background-image: url(https://startbootstrap.github.io/startbootstrap-agency/assets/img/map-image.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.contact .contact__content h3{
    text-align: center;
    color: white;
    font-size: 40px;
    padding: 3rem 0px 10px;
}
.contact .contact__content p{
    text-align: center;
    color: darkgray;
    font-size: 14px;
    font-style: italic;
    padding-bottom: 4rem;
}
.contact__content .line-input {
    display: flex;
}
.line-input .left-input{
    width: 50%;
    flex-basis: 50%;
}
.left-input input{
    width: 80%;
    height: 4rem;
    padding: 20px;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 15px;
}
.line-input .right-input{
    width: 50%;
    flex-basis: 50%;
}
.right-input input{
    height: 14rem;
    width: 90%;
    text-align: left;
    color: darkgray;
    font-weight: 600;
    font-size: 15px;
}
.button{
    text-align: center;
    padding: 4rem 0px 6rem;
}
.contact__content .button a{
    font-size: 18px;
    background: #fed136;
    font-weight: 700;
    color: white;
    padding: 25px;
    border-radius: 15px;
}
.contact__content .button a:hover{
    background: #fed336b9;
}

.footer__content{
    display: flex;
    flex-wrap: wrap;
}
.footer__content .item{
    flex-basis: calc(100%/3);
    width: calc(100%/3);
    padding: 3rem 0px;
    text-align: center;
}
.footer__content .item p{
    color: darkgray;
    font-size: 14px;
    font-weight: 400;
}
.footer__content .item a i{
    padding: 0px 15px;
    font-size: 25px;
    color: black;
}
.footer__content .item a{
    color: #fed136;
    padding: 0px 15px;
    font-size: 15px;
}
.footer__content .item a:hover{
    text-decoration: underline;
}
