*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
    line-height: 1;
}
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');
body{
    font-size: 14px;
    font-family: 'Lora', serif;
}
ul,ol{
    margin: 0;
    padding: 0;
    list-style: none;
}
a{
    text-decoration: none;
    display: inline-block;
}
button{
    cursor: pointer;
    border: none;
    outline: none;
}
input{
    outline: none;
    border: none;
}
.container{
    max-width: 1170px;
    margin: auto;
    padding: 0 15px;
}
/*HEADER*/
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-bottom: 1px solid #e7e7e7;
}
.navbar .navbar__menu{
    display: flex;
    font-size: 0;
    width: 40%;
}
.navbar .navbar__menu .menu-item{
    margin-right: 25px;
}
.navbar .navbar__menu .menu-item:last-child{
    margin-right: 0;
}
.navbar .navbar__menu .menu-item a{
    font-weight: bold;
    font-size: 14px;
    color: #1c202A;
    padding : 20px 0;
    text-transform: uppercase;
}
.navbar .navbar__menu .menu-item:first-child a{
    color: #a161bf;
}
.form-submit{
    width: 30%;
}
.navbar .form-submit{
    font-size: 0;
}
 .form-submit input{
    color: #111111;
    font-weight: 400;
    font-size: 14px;
    padding: 10px 20px;
}
 .form-submit input:focus{
    border: 1px solid #a161bf;
}
 .form-submit .btn-submit{
    font-size: 14px;
    padding: 6px;
    background: transparent;
}
.header .logo{
    padding: 50px 0;
    display: flex;
    justify-content: center;
}
.logo__title a img{
    width: 100%;
    display: block;
    margin-bottom: 10px;
}
.logo .container .desc{
    color: #696969;
    font-size: 14px;
    letter-spacing: 1px;
}
/*END HEADER*/
/*MAIN*/
.main .slider{
    background: url('/assets/img/bg.webp') no-repeat 50%;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.slider .slider__content {
    text-align: center;
}
.main .slider .slider__content ul{
    margin-bottom: 10px;
}
.main .slider .slider__content ul li{
    position: relative;
}
.main .slider .slider__content ul li::after{
    content: "";
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 40px;
    height: 2px;
    background: #fff;
}
.main .slider .slider__content ul li a{
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
}
.main .slider .slider__content .slider__title{
    margin: 20px 0;
    color: #fff;
    font-size: 28px;
}
.main .slider .slider__content .slider__link{
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    padding: 0 10px;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    font-weight: bold;
}
.main .slider .slider__content ol{
    display: flex; 
    justify-content: center;
    margin-top: 30px;
    /* font-size: 0; */
}
.main .slider .slider__content ol li{
    margin-right: 12px;
}
.main .slider .slider__content ol li:last-child{
    margin-right: 0;
}
.main .slider .slider__content ol li a{
    width: 12px;
    height: 12px;
    line-height: 12px;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #fff;
}
.main .slider .slider__content ol li:first-child a{
    background: #fff;
}
.main__container{
    display: flex;
}
.main__content-left{
    padding: 0 15px;
    max-width: calc(200%/3);
    flex-basis: calc(200%/3);
}
.main__title{
    text-align: center;
}
.slider__post-standard{
    padding: 30px 0;
    border-bottom: 1px solid #e7e7e7;
}
.slider__post-standard .main__title .post__title a{
    color: #696969;
    font-family: "montserrat",sans-serif;
    letter-spacing: 1px;
    text-transform: uppercase;
    position: relative;
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 15px;
    padding-bottom: 8px;
}
.slider__post-standard .main__title .post__title a::after{
    position: absolute;
    content: "";
    width: 60px;
    height: 2px;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    background: #a161bf;
}
.slider__post-standard .main__title .post__heading a{
    color: #444444;
    font-size: 2.4rem;
    margin-bottom: 15px;
    font-weight: 300;
}
.slider__post-standard .main__title .post__desc{
    font-size: 14px;
    margin-bottom: 20px;
    color: #696969;
}
.slider__post-standard a {
    display: block;
}
.slider__post-standard a img{
    display: block;
    width: 100%;
}
.slider__post-standard .slider__entry-content{
    margin-top: 20px;
    line-height: 1.5;
}
.slider__post-standard .slider__entry-content span{
    display: block;
}
.slider__post-standard .slider__entry-content .read-more{
    text-align: center;
}
.slider__post-standard .slider__entry-content .post__link{
    padding: 0 10px;
    color: #696969;
    font-size: 14px;
    text-transform: uppercase;
    border-left: 2px solid #696969;
    border-right: 2px solid #696969;
    text-align: center;
    letter-spacing: 1px;
    display: inline-block;
}
/*ARTICLE*/
.article-wrap{
    display: flex;
    justify-content: space-between;
}
.article{
    max-width: 45%;
    flex-basis: 45%;
}
.article-wrap .article .slider__post-standard{
    border-bottom: unset;
}
/*END ARTICLE*/
.main__content-right{
    padding: 0 15px;
    max-width: calc(100%/3);
    flex-basis: calc(100%/3);
}
.main__intro .slider__post-standard{
    border-bottom: unset;
}
.follow{
    padding-bottom: 60px;
}
.main__intro .slider__post-standard .post__title,
.follow .post__title,.recent-post .post__title{
    color: #696969;
    font-size: 14px;
    font-weight: 400;
    position: relative;
    text-transform: uppercase;
    text-align: left;
    margin-bottom: 25px;
    padding-bottom: 15px;
}
.main__intro .slider__post-standard .post__title::after,
.follow .post__title::after,.recent-post .post__title::after{
    content: "";
    position: absolute;
    width: 40px;
    height: 2px;
    background: #a161bf;
    left: 0;
    top: 20px;

}
.follow .list-icon{
    display: flex;
    justify-content: center;
    font-size: 0;
}
.follow .list-icon li a{
    margin-right: 20px;
    color: #111111;
    font-size: 14px;
}
.follow .list-icon li:last-child a{
    margin-right: 0;
}
/*RECENT POST*/
.recent-post{
    padding: 20px 0 30px;
}
.recent-post .post{
    display: flex;
    margin-bottom: 20px;
}
.recent-post .post:last-child{
    margin-bottom: 0;
}
.recent-post .post .post-img{
    width: 30%;
}
.recent-post .post a img{
    width: 100%;
    display: block;
}
.recent-post-wrapper .post .post-content{
    padding: 10px 0 20px 10px;
}
.recent-post-wrapper .post .post-content a{
    color: #393939;
    font-size: 16px;
}
.recent-post-wrapper .post .post-content span{
    font-size: 12px;
    color: #393939;
    display: block;
    margin-top: 12px;
    font-weight: 400;
}
/*END RECENT POST*/
/*FORM SEARCH*/
.form-search{
    font-size: 0;
    display: flex;
    margin-bottom: 50px;
}
.form-search input{
    border: 1px solid #ddd;
    padding: 10px 20px;
    color: #111111;
    font-weight: 400;
    font-size: 14px;
}
.form-search .btn-search{
    padding: 12px 12px;
    font-size: 12px;
    text-transform: uppercase;
    color: #333;
}
/*END FORM SEARCH*/
/*CATEGORY*/
.category ul {
    font-size: 0;
}
.category ul li{
    overflow: hidden;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;
}
.category ul li a{
    font-size: 14px;
    color: #393939;
}
.category ul li span{
    float: right;
    font-size: 14px;
    color: #696969;
}
/*END CATEGORY*/
/*END MAIN*/
/*FOOTER*/
.footer{
    background: #f2f2f2;
    padding: 50px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer .container ul{
    margin-bottom: 30px;
}
/*END FOOTER*/