* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {}

img {
    max-width: 100%;
}

.center {
    width: 50px;
    height: 2px;
    background: #000;
    margin: 10px auto;
}

.center__letf {
    width: 50px;
    height: 2px;
    background: #000;
    margin: 10px 0;
}

.container {
    max-width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
}

li,
ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: #000;
}

p {
    padding: 15px 0;
}


/* =========== start-header ============= */

.header {
    display: flex;
    font-family: 'Montserrat', sans-serif;
    justify-content: space-between;
    align-items: center;
    padding: 0 8rem;
    border-bottom: 1px solid;
}

.header .header__menu {
    display: flex;
    padding: 20px;
    white-space: nowrap;
}

.header .header__menu li {
    display: flex;
    padding: 0 10px;
}

.header .header__search {
    display: flex;
    align-items: center;
    border-radius: 0px;
}

.header .header__search input {
    height: 30px;
    margin-right: 10px;
    border: 1px solid #e8e8e8;
}


/* ===========end-header=========== */


/* ==============start-logo=========== */

.logo {}

.logo .logo__content {
    padding: 3.5rem;
    text-align: center;
}

.logo .logo__content p {
    margin-top: 10px;
    font-family: 'Montserrat', sans-serif;
}


/* ================end-logo=========== */


/* =========start-banner =============== */

.banner {
    font-family: 'Lora', serif;
    height: 60vh;
    display: flex;
    background-image: url(../img/banner-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
}

.banner .center {
    background: #fff;
}

.banner .banner__content h1 {
    padding: 20px 0;
}


/* =========end-banner =============== */


/* ============== start_status ========= */

.status .status__component {
    display: flex;
    font-family: 'Lora', serif;
}

.status .status__left {
    max-width: 70%;
    flex-basis: 70%;
    justify-items: center;
    align-items: center;
}


/* =============start-follow============= */

.follow .follow__icon {
    display: flex;
}

.follow .follow__icon li {
    padding: 10px 20px;
}


/* =============end-follow============= */


/* ============start-standard============ */

.status .status__left .standard {
    text-align: center;
    padding: 3rem;
}

.status .status__left .standard .standard__border {
    border-bottom: 1px solid #000;
    margin: 20px 0;
}


/* ============end-standard============ */

.status .status__left .template .template__component {
    display: flex;
    padding: 15px;
}

.status .status__left .template .template__left {
    display: flex;
    max-width: 50%;
    flex-basis: 50%;
    padding: 0 15px;
}

.status .status__left .template .template__left .template__left__component,
.template__right__component {
    text-align: center;
}

.status .status__left .template .template__right {
    display: flex;
    max-width: 50%;
    flex-basis: 50%;
    padding: 0 15px;
}

.status .status__right {
    max-width: 30%;
    flex-basis: 30%;
    margin-top: 3rem;
}


/* ==========start-post============= */

.post .post__item {
    display: flex;
    padding: 15px 0;
}

.post .post__item {
    width: 90px;
}

.post .post__item .post__item__content {
    padding-left: 20px;
}


/* =============end-post================= */


/* ==========start-search============= */

.search {
    display: flex;
    margin: 20px 0;
}

.search input {
    display: flex;
    border-radius: none;
    padding: 8px;
}

.search button {
    display: flex;
    border-radius: 0px;
    border: none;
    text-align: center;
    margin-left: 10px;
    padding: 8px 10px;
}


/* ==========end-search============= */


/* =========categories========== */

.categories {}

.categories .categories__list li {
    display: flex;
    justify-content: space-between;
}

.categories .categories__list a {
    display: flex;
}


/* =========end-categories========== */

.content {
    padding: 2rem 0px;
}


/* ==========end-status================ */


/* ============start-footer============= */

.footer {
    background: #f2f2f2;
    padding: 2rem;
}

.footer .footer__icon,
.footer__content {
    display: flex;
    padding: 1rem;
    justify-content: center;
}

.footer .footer__icon li {
    padding: 1rem;
}

.footer .footer__content p {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
}


/* ============end-footer============== */