*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}
ul, ol{
    list-style: none;
}
html{
     /* font-size: 62.5%;  */
}
a{
    text-decoration: none;
}
img{
    max-width: 100%;
    display: block;
}
.wrapper{
    overflow: hidden;
}
.container{
    max-width: 1170px;
    margin: auto;
    padding: 0px 15px;
}
.header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0px 8.5rem;
    border-bottom: 1px solid #8080801c;
}
.header .header__menu {
    display: flex;
}
.header .header__menu li {
    padding: 25px 15px;
}
.header .header__menu  li a {
    color: #333333;
    text-transform: uppercase;
    font-weight: 600;
    font-size:14px;
    white-space: nowrap;
}
.header .header__search form input{
    border: none;
    padding: 10px 5px;
}
.header .header__search form button{
    border: none;
    color: gray;
    background: none;
}
/* logo */
.logo{
    text-align: center;
    padding: 35px 0px;
}
.logo .logo__content p{
    padding: 15px 0px;
    font-size: 14px;
    color: darkgray;
}
.logo .logo__content img{
    display: inline-block; 
}
/* banner */
.banner{
    background-image: url(https://colorlib.com/activello/wp-content/uploads/sites/10/2012/03/photo-1437915015400-137312b61975-1920x550.jpg);
    height: 60vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}
.banner .banner__content{
    color: white;
}
.banner .banner__content h3{
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 2px;
}
.banner .banner__content h2{
    font-size: 28px;
    font-weight: 400;
    padding: 20px 0px;
}
.banner .banner__content span{
    color: white;
    border-right: 2px solid;
    border-left: 2px solid;
    padding: 0px 10px;
    font-size: 14px;
    font-weight: 700;
}
/* blog */
.blog{
    padding: 30px 0px;
}
.blog .blog__content{
    display: flex;
    flex-wrap: wrap;
}
.blog__content .blog__left{
    flex-basis: 70%;
    max-width: 70%;
    padding: 0px 15px;
}
.blog__content .blog__right{
    flex-basis: 30%;
    max-width: 30%;
}

.blog__left .blog__standard .standard-card{
    border-bottom: 1px solid #80808073;
    text-align: center;
    padding-bottom: 8rem;
}
.standard-card h3{
    font-size: 12px;
    font-weight: 400;
    color: gray;
    padding: 20px 0px 10px;
}
.underline{
    border: 1px solid #80008042;
    width: 8%;
    margin: auto;
}
.standard-card h2{
    font-size: 24px;
    font-weight: 400;
    padding: 20px 0px;
    line-height: 26px;
}
.standard-card span{
    font-size: 14px;
    font-weight: 400;
    color: gray;
}
.standard-card img{
    padding: 25px 0px;
    margin: auto;
}
.standard-card p{
    font-size: 14px;
    color: gray;
    font-weight: 400;
}
/* blog-right */
.blog__right .blog__aboutme{
    padding: 20px 0px;
}
.blog__aboutme h3{
    font-weight: 400;
    font-size: 14px;
    color: gray;
}
.blog__aboutme .underline{
    border: 1px solid #80008042;
    width: 13%;
    margin: 13px 0px;
}
.blog__aboutme p{
    font-size: 14px;
    font-weight: 400;
    color: gray;
    padding: 16px 0px;
}
.template{
    padding-top: 3rem;
    display: flex;
    flex-wrap: wrap;
}
.template .template__item{
    max-width: 50%;
    flex-basis: 50%;
    text-align: center;
}
.template .template__item h3{
    font-size: 14px;
    color: gray;
    font-weight: 400;
    padding: 15px 0px;
}
.template__item h2{
    font-size: 24px;
    font-weight: 400;
    color: black;
    padding: 15px 25px;
}
.template__item span{
    color: gray;
    font-size: 13px;
    font-weight: 400;
}
.template__item img{
    margin: auto;
}
.template__item p{
    font-size: 13px;
    font-weight: 400;
    color: darkgray;
    text-align: left;
    letter-spacing: 1px;
    padding: 15px 25px;
}
.followme h3{
    font-weight: 400;
    font-size: 14px;
    color: gray;
    padding: 0px 0px 15px;
}
.followme .underline{
    margin: 0px;
    width: 16%;
}
.followme .social{
    display: flex;
    padding: 20px 35px;
}
.followme .social li a{
    padding: 20px;
    color: gray;
}
.recentpost{
    padding: 45px 0px;
}
.recentpost h3{
    font-size: 14px;
    font-weight: 400;
    color: gray;
    padding-bottom: 15px;
}
.recentpost .underline{
    margin: 0;
    width: 13%;
}
.recentpost .post{
    padding: 25px 0px;
    display: flex;
    align-items: center;
}
.recentpost .post img{
    max-width: 40%;
    flex-basis: 40%;
    padding-right: 15px;
}
.recentpost .post .text{
    max-width: 60%;
    flex-basis: 60%;
    text-align: left;
    color: gray;
}
.recentpost .post .text h3{
    font-size: 16px;
    font-weight: 400;
    padding-bottom: 10px;
}
.recentpost .post .text span{
    font-size: 13px;
    font-weight: 400;
}
.form-search{
    padding-bottom: 45px;
}
.form-search input{
    padding: 8px 20px;
    color: gray;
    font-size: 15px;
    border: gray;
    border: 2px solid #8080807d;
}
.form-search span button{
    padding: 11px 20px;
    border: 1px #80808024 solid;
    background: #a9a9a92e;
    color: gray;
    font-size: 14px;
}
.categories h3{
    font-size: 14px;
    font-weight: 400;
    color: gray;
    padding-bottom: 15px;
}
.categories .underline{
    margin: 0;
    width: 13%;
    margin-bottom: 15px;
}
.categories .categories-item{
    padding: 10px 0px;
    color: gray;
    border-bottom: 1px solid #80808047;
}
.categories .categories-item h4{
    font-size: 14px;
    font-weight: 400;
}
.categories .categories-item span{
    float: right;
}
/* footer */
.footer{
    background-color: #80808040;
}
.footer .footer__content{
    padding: 30px 0px 40px 0px;
    text-align: center;
}
.footer .footer__content .social{
    display: flex;
    justify-content: center;
    padding: 30px 0px;
}
.footer .footer__content .social li a{
    padding: 15px;
    color: gray;
}
.footer .footer__content p{
    font-size: 14px;
    font-weight: 400;
}