*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    line-height: 1;
}
body{
    font-family: sans-serif;
    font-size: 14px;
}
ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
a{
    text-decoration: none;
    display: inline-block;
}
span{
    display: block;
}
.header .container{
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo a{
    color: black;
    font-size: 20px;
}
.menu{
    display: flex;
}
.menu .menu__item{
    padding-right: 15px;
}
.menu .menu__item a{
    color: black;
    padding: 15px;
}
.menu .menu__item:nth-child(3) .active{
    color: orange;
}
.main .container{
    max-width: 1170px;
    margin: auto;
    padding: 0 15px;
}
.heading{
    text-align: center;
    position: relative;
}
.heading::after{
    content: "";
    padding-bottom: 15px;
    border-bottom: 3px solid orangered;
    display: block;
    width: 50px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.card__wrap{
    display: flex;
    padding: 40px 0;
}
.card__wrap .card{
    padding: 0 15px;
    text-align: center;
}
.card__wrap .card:last-child{
    padding: 0;
}
.card .thumb{
    width: 100%;
    display: block;
}
.descript{
    color: rgb(129, 118, 118);
    line-height: 1.5;
    padding-top: 5px;
}
.contact .container{
    max-width: 1170px;
    margin: auto;
    padding: 0 15px;
    text-align: center;
}
.contact .container .desc{
    padding-top: 50px;
    line-height: 1.5;
}
.contact__info{
    display: flex;
    justify-content: space-evenly;
    padding: 25px 0;
}
.contact__intro .icon{
    display: block;
    color : black;
    font-size: 20px;
}
.contact__intro .phone__number,.contact__intro .email{
    padding-top: 10px;
    display: block;
}
.email{
    color: orange;
}
.portfolio .container{
    max-width: 1170px;
    margin: auto;
    padding: 0 15px;
    text-align: center;
}
.portfolio .container .head{
    text-transform: uppercase;
    padding-bottom: 10px;
}
.portfolio .container .card__wrap{
    justify-content: center;
}
.content .title{
    padding-bottom: 5px;
}