*{
    font-family: 'Merriweather', serif;
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;
}
ul, ol{
    list-style: none;
}
a{
    text-decoration: none;
}
img{
    width: 100%;
    display: block;
}
.wrapper{
    overflow: hidden;
}
.container{
    max-width: 1170px;
    margin: auto;
}
.header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.header__logo{
    padding: 0px 100px;
}
.header .header__logo a{
    font-size: 24px;
    color: #1fa67a;
    font-weight: 500;
}
.header .header__menu ul {
    display: flex;
    padding-right: 6rem;
}
.header .header__menu ul li {
    padding: 25px 15px;
}
.header .header__menu ul li a {
    color: gray;
    text-transform: capitalize;
    font-weight: 200;
    font-size:14px;
}
.header .header__menu ul li:hover  {
    background: #1fa67a;
}
.header .header__menu ul li:hover a {
    color: white;
}

.banner .item{
    background-image: url(https://colorlib.com/dazzling/wp-content/uploads/sites/6/2013/01/slide03.jpg);
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.banner h3{
    background: #1fa67a;
    color: white;
    max-width: fit-content;
    padding: 10px;
}
.banner p{
    font-size: 14px;
    background: #808080a6;
    color: white;
    max-width: 60%;
    padding: 15px;
}

.cfa {
    background: #1fa67a;
}
.cfa__content{
    display: flex;
    justify-content: space-between;
    padding: 3rem 0px;
    color: white;
    align-items: center;
}
.cfa__content h3{
    font-size: 22px;
    font-weight: 400;
}
.cfa__content a{
    padding: 20px;
    border: 1px solid white;
    color: white;
}
.cfa__content a:hover{
    background: white;
    color: #1fa67a;
    transition: 0.4s;
}
.post{
    margin: 3rem 0px;
}
.post .post__content{
    display: flex;
    flex-wrap: wrap;
}
.post__content .main{
    flex-basis: 70%;
    max-width: 70%;
}
.post__content .secondary{
    flex-basis: 30%;
    max-width: 30%;
}
.main .post-item{
    margin-top: 3rem;
}
.main .post-item h3{
    font-size: 32px;
    font-weight: 500;
    color: gray;
}
.main .post-item p{
    color: gray;
    font-size: 13px;
    font-weight: 400;
    padding: 15px 0px;
}
.post-item .entry-content{
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    margin-bottom: 5rem;
}
.entry-content img{
    width: 50%;
    flex-basis: 50%;
    border: 1px solid #80808047;
    padding: 4px;
}
.entry-content .read-more{
    width: 50%;
    flex-basis: 50%;
    padding: 0px 40px;
}
.entry-content .read-more p{
    font-size: 14px;
    color: gray;
    padding-bottom: 25px;
}
.entry-content .read-more a{
    font-size: 14px;
    color: #1fa67a;
    border: 1px solid #80808061;
    padding: 10px;
    margin-left: 10rem;
}
.entry-content .read-more a:hover{
    transition: 0.4s;
    color: white;
    background: #1fa67a;
}
.underline{
    border-bottom: 1px solid rgba(128, 128, 128, 0.363);
}
.main .older-post{
    background: rgba(0, 0, 0, 0.568);
    color: white;
    padding: 10px 0px;
    font-size: 14px;
    text-align: center;
}
.main .older-post:hover{
    background: #1fa67a;
    transition: 0.4s;
}
.secondary .search input{
    width: 88%;
    padding: 10px 40px;
    border: 1px solid #8080802e;
}
.search i{
    background: #1fa67a;
    color: white;
    padding: 10px;
}

.footer__content{
    display: flex;
    flex-wrap: wrap;
}
.footer__content .otherpage{
    width: calc(100%/3);
    flex-basis: calc(100%/3);
    padding: 0px 25px;

}
.footer__content .product{
    width: calc(100%/3);
    flex-basis: calc(100%/3);
    padding: 0px 25px;

}
.footer{
    background: #000000b8;
    color: gray;
    padding: 25px 0px;
}
.footer__content .footer-logo{
    width: calc(100%/3);
    flex-basis: calc(100%/3);
    padding: 0px 25px;
}
.footer__content  ul li{
    border-bottom: 1px solid #80808061;
    font-size: 14px;
    color: gray;
    padding: 10px 0px;
}