*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.wrapper{
    max-width: 100%;
}
ul,ol{
    list-style: none;
}
a{
    text-decoration: none;
}
.container{
    max-width: 1170px;
    padding:0px 15px;
    margin: 0 auto;
}
.container .seo{
    display: flex;
    flex-wrap: wrap;
}
img{
    max-width: 100%;
}
header {
    display: flex;
    justify-content: space-between;
    padding: 20px 80px;
    align-items: center;
    margin-bottom: 30px;
}
header .logo{
    font-size: 25px;
    text-transform: capitalize;
    color: darkgray;
}
header .menu{
    display: flex;
}
header .menu li{
    padding: 0px 5px;
    font-size: 15px;
    text-transform: uppercase;
}
.menu li a{
    padding: 10px;
    color: darkgray;
}
.seo .item1{
    max-width: 50%;
    flex-basis: 50%;
    padding: 0px 50px;
}
.seo .item2{
    max-width: 50%;
    flex-basis: 50%;
    padding: 0px 50px;
} 
.seo .item2 .text{
    text-align: left;
    margin-bottom: 25px;
}
.seo .item2 .text h3{
    margin: 0px 0px 25px 0px;
    text-transform: uppercase;
    font-size: 20px;
}
.seo .item2 .text p{
    font-size: 15px;
    color: darkgray;
}
.seo .item2 .button button{
    border: none;
    color: white;
    padding: 15px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
    background: #552880;
    text-transform: capitalize;
}
.post{
    margin: 30px;
    text-align: center;
}
.post .heading h5{
    margin: 20px 0px;
    font-size: 18px;
    text-transform: uppercase;
    color: darkgray;
}
.post .heading .border{
    border: 1px solid darkgray;
    width: 40px;
    margin: auto;
}
.post .heading h3{
    margin: 20px;
    color: darkgray;
    font-size: 25px;
}
.post .heading p{
    font-size: 16px;
    margin-bottom: 20px;
    color: #0000009e;
}
.post p{
    max-width: 50%;
    margin: 25px auto;
    font-size: 16px;
    color: gray;
}
.post a{
    color: gray;
    font-size: 16px;
    text-transform: uppercase;
    border-right: 2px solid;
    border-left: 2px solid darkgray;
    padding: 10px;
}
.recentpost{
    align-items: left;
}
.recentpost .heading p{
    text-transform: uppercase;
    font-size: 20px;
    margin: 30px 0px 20px;
    color: darkgray;
}
.recentpost .heading .border{
    border: 1px solid darkgray;
    width: 40px;
}
.recentpost .list_item {
    margin: 30px 0px;
}
.recentpost .list_item .item{
    flex-wrap: wrap;
    display: flex;
    margin-bottom: 15px;
}
.recentpost .list_item .item .image{
    max-width: 10%;
    padding: 0px 30px 0px 0px;
}
.recentpost .list_item .item .content p{
    text-transform: capitalize;
    font-size: 17px;
    color: darkgray;
    margin-bottom: 12px;
    padding: 20px 0px 0px 0px;
}
.recentpost .list_item .item .content span{
    font-size: 14px;
    color: darkgray;
}
.template .list_item{
    display: flex;
    flex-wrap: wrap;
}
.template .list_item .item{
    text-align: center;
    max-width: 50%;
    flex-basis: 50%;
    padding: 0px 20px;
}
.template .list_item .item .heading p{
    color: darkgray;
    font-size: 18px;
    text-transform: uppercase;
}
.template .list_item .item .heading .border{
    border: solid 1px darkgrey;
    width: 10%;
    margin: auto;
    margin: 14px auto;
}
.template .list_item .item .heading h3{
    font-size: 20px;
    margin: 10px 0px 15px;
    color: #000000a6;
}
.template .list_item .item .heading span{
    color: darkgray;
}
.template .list_item .item img{
    margin: 25px 0px;
}
.template .list_item .item p{
    color: darkgray;
    font-size: 18px;
}