                * {
                    padding: 0;
                    margin: 0;
                    box-sizing: border-box;
                }
                
                .container {
                    max-width: 1170px;
                    padding: 0 15px;
                    margin: 0 auto;
                    display: flex;
                }
                
                .box {
                    margin: 5px;
                    width: 200px;
                    height: 100px;
                    background-color: rgb(255, 248, 220);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    position: relative;
                }
                
                .box:hover p {
                    color: white;
                }
                
                p.title {
                    z-index: 2;
                }
                
                .fade__overlay {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    top: 0;
                    left: 0;
                    background-color: blue;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    opacity: 0;
                    transition: 0.3s;
                    color: white;
                }
                
                .fade:hover .fade__overlay {
                    opacity: 1;
                }
                
                .sweeppR__overlay {
                    position: absolute;
                    width: 0%;
                    height: 100%;
                    top: 0;
                    left: 0;
                    background-color: rgba(0, 0, 255, 0.801);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    opacity: 0;
                    transition: 0.3s;
                    z-index: 1;
                }
                
                .sweepR:hover .sweeppR__overlay {
                    opacity: 1;
                    width: 100%;
                }
                
                .sweeppL__overlay {
                    position: absolute;
                    width: 0%;
                    height: 100%;
                    top: 0;
                    right: 0;
                    background-color: rgba(0, 0, 255, 0.801);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    opacity: 0;
                    transition: 0.3s;
                    z-index: 1;
                }
                
                .sweepL:hover .sweeppL__overlay {
                    opacity: 1;
                    width: 100%;
                }
                
                .sweeppB__overlay {
                    position: absolute;
                    width: 100%;
                    height: 0%;
                    top: 0;
                    left: 0;
                    background-color: rgba(0, 0, 255, 0.801);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    opacity: 0;
                    transition: 0.3s;
                    z-index: 1;
                }
                
                .sweepB:hover .sweeppB__overlay {
                    opacity: 1;
                    height: 100%;
                }
                
                .sweeppT__overlay {
                    position: absolute;
                    width: 100%;
                    height: 0%;
                    bottom: 0;
                    left: 0;
                    background-color: rgba(0, 0, 255, 0.801);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    opacity: 0;
                    transition: 0.3s;
                    z-index: 1;
                }
                
                .sweepT:hover .sweeppT__overlay {
                    opacity: 1;
                    height: 100%;
                }
                
                .bounceR__overlay {
                    position: absolute;
                    background-color: rgba(0, 0, 255, 0.801);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    opacity: 0;
                    z-index: 1;
                    transition: 1s;
                    top: 0;
                    left: 0;
                    width: 0%;
                    height: 100%;
                    transition: 4s;
                    transition-duration: 0.5s;
                    transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
                }
                
                .bounceR:hover .bounceR__overlay {
                    opacity: 1;
                    width: 100%;
                }
                
                .bounceL__overlay {
                    position: absolute;
                    background-color: rgba(0, 0, 255, 0.801);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    opacity: 0;
                    z-index: 1;
                    transition: 1s;
                    top: 0;
                    right: 0;
                    width: 0%;
                    height: 100%;
                    transition: 4s;
                    transition-duration: 0.5s;
                    transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
                }
                
                .bounceL:hover .bounceL__overlay {
                    opacity: 1;
                    width: 100%;
                }
                
                .bounceB__overlay {
                    position: absolute;
                    background-color: rgba(0, 0, 255, 0.801);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    opacity: 0;
                    z-index: 1;
                    transition: 1s;
                    bottom: 0;
                    left: 0;
                    height: 0%;
                    width: 100%;
                    transition: 4s;
                    transition-duration: 0.5s;
                    transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
                }
                
                .bounceB:hover .bounceB__overlay {
                    opacity: 1;
                    height: 100%;
                }
                
                .bounceT__overlay {
                    position: absolute;
                    background-color: rgba(0, 0, 255, 0.801);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    opacity: 0;
                    z-index: 1;
                    transition: 1s;
                    top: 0;
                    left: 0;
                    height: 0%;
                    width: 100%;
                    transition: 4s;
                    transition-duration: 0.5s;
                    transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
                }
                
                .bounceT:hover .bounceT__overlay {
                    opacity: 1;
                    height: 100%;
                }
                
                .radial {
                    overflow: hidden;
                }
                
                .radialout__overlay {
                    position: absolute;
                    background-color: rgba(0, 0, 255, 0.801);
                    opacity: 0;
                    top: 0;
                    left: 0;
                    z-index: 1;
                    border-radius: 100%;
                    width: 100%;
                    height: 100%;
                    transition-duration: 0.3s;
                    transform: scale(0);
                }
                
                .radial:hover .radialout__overlay {
                    opacity: 1;
                    transform: scale(2);
                }
                
                .radialin {
                    background-color: rgb(0, 0, 255);
                }
                
                .radialin__overlay {
                    background-color: rgb(255, 248, 220);
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    transition: 0.3s;
                    z-index: 1;
                    opacity: 1;
                    transform: scale(2);
                    border-radius: 100%;
                }
                
                .radialin:hover .radialin__overlay {
                    opacity: 0;
                    width: 0%;
                    height: 0%;
                    transform: scale(0);
                }
                
                .regtange {
                    overflow: hidden;
                }
                
                .regtangein {
                    background-color: rgb(0, 0, 255);
                }
                
                .regtangein__overlay {
                    background-color: rgb(255, 248, 220);
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    transition: 0.5s;
                    z-index: 1;
                    opacity: 1;
                    transform: scale(2);
                }
                
                .regtangein:hover .regtangein__overlay {
                    opacity: 0;
                    width: 0%;
                    height: 0%;
                    transform: scale(0);
                }
                
                .regtangeout__overlay {
                    position: absolute;
                    background-color: rgba(0, 0, 255, 0.801);
                    opacity: 0;
                    top: 0;
                    left: 0;
                    z-index: 1;
                    width: 100%;
                    height: 100%;
                    transition: 0.5s;
                    transform: scale(0);
                }
                
                .regtange:hover .regtangeout__overlay {
                    opacity: 1;
                    transform: scale(2);
                }
                
                .border-fade::before {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 99%;
                    height: 99%;
                    opacity: 0;
                    z-index: 1;
                    border: 3px solid black;
                    transition: 1s;
                }
                
                .shutter-in .title::before {
                    position: absolute;
                    content: "";
                    top: 0;
                    left: 0;
                    background: rgba(0, 0, 255, 0.801);
                    width: 0%;
                    height: 100%;
                    opacity: 0;
                    transition: 0.5s;
                    z-index: -1;
                }
                
                .shutter-in .title::after {
                    position: absolute;
                    content: "";
                    top: 0;
                    right: 0;
                    background: rgba(0, 0, 255, 0.801);
                    width: 0%;
                    height: 100%;
                    opacity: 0;
                    transition: 0.5s;
                    z-index: -1;
                }
                
                .shutter-in:hover .title::before {
                    opacity: 1;
                    width: 50%;
                }
                
                .shutter-in:hover .title::after {
                    opacity: 1;
                    width: 50%;
                }
                
                .shutter-out .title::before {
                    content: "";
                    position: absolute;
                    background: rgba(0, 0, 255, 0.801);
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    width: 0%;
                    height: 100%;
                    transition: 0.5s;
                    z-index: -1;
                }
                
                .shutter-out:hover .title::before {
                    width: 100%;
                }
                
                .shutter-outV .title::before {
                    content: "";
                    position: absolute;
                    background: rgba(0, 0, 255, 0.801);
                    top: 0;
                    left: 0;
                    height: 0%;
                    width: 100%;
                    transition: 0.5s;
                    z-index: -1;
                }
                
                .shutter-outV .title::after {
                    content: "";
                    position: absolute;
                    background: rgba(0, 0, 255, 0.801);
                    width: 100%;
                    bottom: 0;
                    right: 0;
                    height: 0%;
                    transition: 0.5s;
                    z-index: -1;
                }
                
                .shutter-outV:hover .title::before {
                    height: 50%;
                }
                
                .shutter-outV:hover .title::after {
                    height: 50%;
                }
                
                .shutter-inV .title::before {
                    content: "";
                    position: absolute;
                    background: rgba(0, 0, 255, 0.801);
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    width: 100%;
                    height: 0%;
                    transition: 0.5s;
                    z-index: -1;
                }
                
                .shutter-inV:hover .title::before {
                    height: 100%;
                }
                
                .box2 {
                    background-color: rgb(250, 200, 200);
                }
                
                .round-conner {
                    transition: 0.5s;
                }
                
                .round-conner:hover {
                    border-radius: 1em;
                }
                
                .round-conner:hover p {
                    color: black;
                }
                
                .underlineL .title::after {
                    content: "";
                    position: absolute;
                    width: 0%;
                    height: 5px;
                    transition: 0.5s;
                    bottom: 0;
                    left: 0;
                    background-color: black;
                    opacity: 0;
                }
                
                .underlineL:hover .title::after {
                    width: 100%;
                    opacity: 1;
                }
                
                .underlineC .title::after {
                    position: absolute;
                    content: "";
                    z-index: -1;
                    width: 0%;
                    height: 5px;
                    background-color: black;
                    bottom: 0;
                    left: 50%;
                    transform: translateX(-50%);
                    transition: 0.5s;
                }
                
                .underlineC:hover .title::after {
                    width: 100%;
                }
                
                .underlineR .title::after {
                    position: absolute;
                    content: "";
                    z-index: -1;
                    width: 0%;
                    height: 5px;
                    background-color: black;
                    bottom: 0;
                    right: 0;
                    transition: 0.5s;
                }
                
                .underlineR:hover .title::after {
                    width: 100%;
                }
                
                .overlineR .title::after {
                    position: absolute;
                    content: "";
                    z-index: -1;
                    width: 0%;
                    height: 5px;
                    background-color: black;
                    top: 0;
                    right: 0;
                    transition: 0.5s;
                }
                
                .overlineR:hover .title::after {
                    width: 100%;
                }
                
                .overlineL .title::after {
                    position: absolute;
                    content: "";
                    z-index: -1;
                    width: 0%;
                    height: 5px;
                    background-color: black;
                    top: 0;
                    left: 0;
                    transition: 0.5s;
                }
                
                .overlineL:hover .title::after {
                    width: 100%;
                }
                
                .overlineC .title::after {
                    position: absolute;
                    content: "";
                    z-index: -1;
                    width: 0%;
                    height: 5px;
                    background-color: black;
                    top: 0;
                    left: 50%;
                    transform: translateX(-50%);
                    transition: 0.5s;
                }
                
                .overlineC:hover .title::after {
                    width: 100%;
                }
                
                .underlineRV .title::after {
                    position: absolute;
                    content: "";
                    z-index: -1;
                    width: 100%;
                    height: 0px;
                    background-color: black;
                    bottom: 0;
                    left: 50%;
                    transform: translateX(-50%);
                    transition: 0.5s;
                }
                
                .underlineRV:hover .title::after {
                    height: 5px;
                }
                
                .overlineRV .title::after {
                    position: absolute;
                    content: "";
                    z-index: -1;
                    width: 100%;
                    height: 0px;
                    background-color: black;
                    top: 0;
                    left: 50%;
                    transform: translateX(-50%);
                    transition: 0.5s;
                }
                
                .overlineRV:hover .title::after {
                    height: 5px;
                }
                
                .border-fade {
                    transition: 0.5s;
                }
                
                .border-fade:hover {
                    box-shadow: inset 0 0 0 5px;
                }
                
                .holow:hover {
                    background-color: white;
                    box-shadow: inset 0 0 0 5px;
                    transition: 0.3s;
                }
                
                .trim .title::before {
                    content: "";
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    width: 80%;
                    height: 80%;
                    opacity: 0;
                    box-shadow: inset 0 0 0 5px white;
                    transition: 0.3s;
                }
                
                .trim:hover .title::before {
                    opacity: 1;
                }