* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
}

.wrapper {
    max-width: 100%;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
}


/* ===========start-header================= */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 7rem;
    background-color: #000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
}

.header__logo {
    display: flex;
}

.header__logo img {
    max-width: 100%;
    height: 30px;
}

.header__logo h2 {
    color: #fed136;
}

.header__menu {
    display: flex;
}

.header__menu li a {
    color: #fff;
    display: inline-block;
    padding: 25px 20px;
    text-transform: uppercase;
    font-size: 0.95rem;
}

.header__menu li a:hover {
    color: #fed136;
    transition: 0.5s;
}


/* ===========end-header================= */


/* ===========start-banner================= */

.banner {
    height: 100vh;
    background-image: url(../img/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
}

.banner .banner__component p {
    font-family: 'Droid', serif;
    font-size: 2.5rem;
    font-style: italic;
    line-height: 2.25rem;
}

.banner .banner__component h1 {
    font-size: 4.5rem;
    font-weight: 700;
    line-height: 4.5rem;
    margin: 3rem 0;
}

.banner .banner__component button {
    padding: 1.25rem 2.5rem;
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1.125rem;
    font-weight: 700;
    color: #fff;
    background-color: #fed136;
    border-color: #fed136;
    border-radius: 0.25rem;
}


/* ===========end-banner================= */


/* ===========start-services================ */

.service {
    padding: 3rem 0;
}

.service__component {
    text-align: center;
}

.service__component .service__item {
    display: flex;
    margin-top: 3rem;
    max-width: 100%;
}

.service__component .service__item .item img {
    width: 100%;
    padding: 0 8rem;
}

.service__component .service__item .item {
    max-width: 33.33%;
    flex-basis: 33.33%;
}

.service__component .service__title {
    margin: 4rem 0;
}

.service__component .service__title h2 {
    font-size: 2.5rem;
    padding: 15px 0;
}

.service__component .service__item h3 {
    font-size: 25px;
    margin: 20px 0px;
}


/* =============end-services=================== */


/* =============start-portfolio=============== */

.portfolio {
    background-color: #F8F9FA;
    padding: 3rem 0;
    text-align: center;
}

.portfolio__component .portfolio__item {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 20px 0;
}

.portfolio__component .portfolio__item .portfolio__cart {
    max-width: calc(100%/3);
    flex-basis: calc(100%/3);
    padding: 0 15px;
}

.portfolio__component .portfolio__item img {
    display: block;
    width: 100%;
}

.portfolio__component .portfolio__item .content {
    background-color: #fff;
}

.portfolio__component .portfolio__item .content .text {
    padding: 2rem 0;
}

.portfolio__component .portfolio__item .content .text p {
    font-style: italic;
}

.portfolio__component .portfolio__item .content a {
    position: relative;
    display: block;
}

.portfolio__component .portfolio__item .content a:hover .overlay {
    opacity: 1;
    transition: 0.5s;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(254, 209, 54, 0.9);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
}

.overlay i {
    color: #fff;
    font-size: 50px;
    font-weight: bold;
}


/* ===============end-portfolio============= */


/*============start-team==============*/

.team {
    background-color: #F8F9FA;
    padding: 3rem 0;
}

.team__component {
    text-align: center;
}

.team__component .team__item {
    display: flex;
    margin-top: 2rem;
    max-width: 100%;
}

.team__component .team__item .item .item__contact {
    display: flex;
    justify-content: center;
    font-size: 0;
}

.team__component .team__item .item .item__contact .icon {
    margin-right: 10px;
}

.team__component .team__item .item .item__contact a {
    width: 45px;
    height: 45px;
    color: #fff;
    background: #343A40;
    line-height: 30px;
    border-radius: 50%;
    display: block;
    font-size: 17px;
}

.team__component .team__item .item img {
    border-radius: 50%;
    width: 14rem;
    height: 14rem;
    border: 0.5rem solid rgba(0, 0, 0, 0.1);
}

.team__component .team__item .item {
    max-width: 33.33%;
    flex-basis: 33.33%;
}

.team__component .team__item .item .item__contact {
    margin: 20px 0;
}

.team__component .team__item .item .item__contact a {
    padding: 10px;
    margin: 5px 10px;
    display: inline-block;
    background: #23272B;
    color: #fff;
    border-radius: 50%;
}

.team__component .team__title {
    margin: 4rem 0;
}

.team__component .team__title h2 {
    font-size: 2.5rem;
    padding: 15px 0;
}

.team__component .team__item h3 {
    font-size: 25px;
    margin: 20px 0px;
}

.team__component .team__content p {
    margin: 20px 0px;
    font-style: italic;
}


/*============end-team=============*/


/*===========start-trademark=============*/

.trademark {
    padding: 5rem 0;
}

.trademark__component {
    display: flex;
}

.trademark__component .items {
    display: flex;
    max-width: 25%;
    flex-basis: 25%;
}


/*===========end-trademark=============*/

.contact {
    background: url('../img/map.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    background-color: #212529;
}

.contact__component {
    text-align: center;
}

.contact__title h2 {
    font-size: 3rem;
    padding: 1rem
}

.contact__title {
    color: #fff;
    font-size: 16px;
    margin-bottom: 3rem;
}

.form__wrap {
    display: flex;
}

.form__group,
.form__text {
    max-width: 50%;
    flex-basis: 50%;
    padding: 0 12px;
    height: 100%;
}

.form__group input {
    background: #fff;
    border: 1px solid #ced4da;
    border-radius: 4px;
    width: 100%;
    font-size: 16px;
    color: #495057;
    display: block;
    padding: 20px;
    font-weight: 400;
    margin-bottom: 24px;
}

.form__wrap .form__text textarea {
    color: #495057;
    font-size: 16px;
    border: 1px solid #ced4da;
    width: 100%;
    padding: 15px;
    border-radius: 4px;
}

.submit {
    text-align: center;
}

.submit .btn__submit .btn {
    background: #FED136;
    padding: 20px 40px;
    font-size: 18px;
    text-align: center;
    margin-top: 48px;
    color: #fff;
    border-radius: 4px;
}


/* =======================start-footer========================= */

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    text-align: center;
}

.footer .box .icon a {
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    color: #fff;
    background: #343A40;
    display: block;
    font-size: 14px;
}

.footer .box {
    display: flex;
    justify-content: center;
    font-size: 0;
}

.footer .right a {
    color: #FED136;
    font-size: 15px;
    margin-right: 16px;
    display: inline-block;
}

.footer .left {
    max-width: calc(100%/3);
    flex-basis: calc(100%/3);
}

.footer .box .icon {
    margin-right: 16px;
}


/* =======================end-footer========================= */