*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
    line-height: 1;
}
body{
    font-family: 'Raleway' sans-serif;
}
.container{
    max-width: 1170px;
    margin: auto;
    padding: 0 15px;
}
ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
a{
    text-decoration: none;
    display: inline-block;
}
button{
    cursor: pointer;
    border: none;
    outline: none;
}
/* =================  HEADER  ==================== */


/* ==================  NAVBAR  =================== */
.navbar{
    display: flex;
    flex-wrap: wrap;
    max-width: 1170px;
    margin: auto;
    padding: 0 15px;
    align-items: center;
    justify-content: space-between;
}
.navbar .navbar__logo{}
.navbar .navbar__logo .navbar__link{}
.navbar .navbar__logo .navbar__link span{
    font-weight: 300;
    font-size: 2.4rem;
    color: #333333;
}
.navbar .navbar__menu{}
.navbar .navbar__menu .menu{
    display: flex;
}
.navbar .navbar__menu .menu .menuItem{
    margin-right: 24px;
}
.navbar .navbar__menu .menu .menuItem:last-child{
    margin-right: 0;
}
.navbar .navbar__menu .menu .menuItem a{
    font-weight: 500;
    font-size: 13px;
    text-transform: uppercase;
    color: #4c4c4c;
    padding: 12px;
}
.navbar .navbar__menu .menu .menuItem .icon{
    font-size: 14px;
    font-weight: 400;
    color: #3a52bf;
}
/* ==================  END NAVBAR  =================== */
/* =================  END HEADER  ==================== */


/* =================  MAIN  ==================== */
.main{}
.area{
    background: url('../img/bg.jpg') no-repeat 50%;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.area .area__content{
    text-align: center;
}
.area .area__content .area__title{
    font-size: 6rem;
    font-weight: 400;
    color:#ffffff;
}
.area .area__content .area__desc{
    font-size: 14px;
    font-weight: 400;
    color:#ffffff;
    padding: 24px 0;
}
.area .area__content .area__btn-link{
    font-size: 0;
}
.area .area__content .area__btn-link .btn,
.intro__content .intro__link,
.portfolio__content .portfolio__link,.bg .portfolio__link{
    font-size: 12px;
    font-weight: 700;
    color: #ffffff;
    text-transform: uppercase;
    width: 150px;
    height: 40px;
    line-height: 40px;
    text-align: center;
}
.area .area__content .area__btn-link .btn-grey{
    margin-right: 8px;
    background: #745cf9;
}
.area .area__content .area__btn-link .btn-grey:hover,
.intro__content .intro__link:hover,.portfolio__content .portfolio__link:hover,.bg .portfolio__link:hover
{
    background: rgb(49, 90, 202);
    transition: 0.4s ease;
}
.area .area__content .area__btn-link .btn-transparent{
    background: transparent;
    border:1px solid #ffffff;
}
.area .area__content .area__btn-link .btn-transparent:hover{
    color: #333333;
    background: #ffffff;
    transition: 0.4s ease;
}

/* ==================  INTRO  ====================== */
.intro,.portfolio{
    padding: 60px 0;
}
.intro .container,.portfolio .container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.intro .intro__bg,.portfolio__bg{
    width: 50%;
}
.intro .intro__bg img,.portfolio__bg img{
    width: 100%;
    display: block;
}
.intro__content,.portfolio .portfolio__content{
    width: 30%;
}
.intro .intro__content .intro__title,.portfolio__content .portfolio__title{
    font-weight: 400;
    color:#0e1015;
    font-size: 3rem;
}
.intro .intro__content .intro__desc,.portfolio__content .portfolio__desc,.option__content .option__desc{
    font-weight: 400;
    color: #8c979e;
    margin: 24px 0;
    line-height: 1.5;
    font-size: 14px;
}
.intro__content .intro__link,.portfolio__content .portfolio__link,.bg .portfolio__link{
    background: #745cf9;
    margin-right: unset;
}
.portfolio{
    background: #f5f5f5;
}
.bg{
    height: 100vh;
    background: url('../img/bg.jpeg') no-repeat 50%;
    background-size: cover;
}
/* =============  OPTION  ================== */
.option{
    padding: 60px 0 20px;
    text-align: center;
}
.option__content,.option__title{
    font-weight: 400;
    color: #0e1015;
    font-size: 3rem;
}
.option__content .option__link{
    color: #fff;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    padding: 13px 26px;
    background: #745cf9 ;
    margin-bottom: 24px;
}
.option .container img{
    width: 100%;
    display: block;
}
/* ============ PROJECT ================ */
.project{
    background: #0e1015;
    padding: 60px 20px;
    text-align: center;
}
.project .container .project__title{
    color: #fff;
    font-weight: 400;
    font-size: 3rem;
    margin-bottom: 32px;
}
.project .container .project__desc{
    color: #fff;
    font-size: 14px;
}
.project__gallery{
    display: flex;
    flex-wrap: wrap;
    padding-top: 20px;
}
.gallery__img{
    font-size: 0;
    flex-basis:100%;
    max-width: 100%;
}
.gallery__img img{
    width: 25%;
    display: inline-block;
}
.slider{
    height: 100vh;
    background: url('/assets/img/bg11.jpg') no-repeat 50% 50%;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.slider__content{
    text-align: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 50px;
    right: 50px;
}
.btn__prev{
    position: absolute;
    top: 50%;
    left: 30px;
    transform: translateY(-50%);
    color: #fff;
    font-size: 14px;
    background: transparent;
}
.btn__next{
    position: absolute;
    top: 50%;
    right: 30px;
    transform: translateY(-50%);
    font-size: 14px;
    color: #fff;
    background: transparent;
}
.slider__content .slider__title{
    color: #fff;
    font-size: 3rem;
    margin-bottom: 40px;
}
.slider__content .slider__desc{
    font-size: 14px;
    color:#fff;
    line-height: 1.5;
    margin-bottom: 24px;
}
.slider__img img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: block;
    margin: auto;
}
.slider__img span{
    color: #fff;
    font-size: 14px;
    margin-top: 15px;
    display: block;
}
.client{
    padding: 40px 40px 60px 40px;
    text-align: center;
}
.client .client__title{
    font-weight: 400;
    font-size: 3rem;
    color: #0e1015;
    margin-bottom: 64px;
}
.client__menu{
    display: flex;
    justify-content: space-around;
}
.client__menu li{
    width: 10%;
}
.client__menu li a img{
    width: 100%;
    display: block;
}
.bg__secondary{
    background: #f5f5f5;
    padding: 96px 15px;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
}
.bg__secondary-title{
    font-size: 3rem;
    font-weight: 400;
    color: #0e1015;
}
.bg__secondary-link{
    background: #3a52bf;
    color: #fff;
    text-transform: uppercase;
    width: 150px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 12px;
}
/* ============ END PROJECT ================ */
/* =============  END OPTION  ================== */
/* ==================  END INTRO  ====================== */
/* =================  END MAIN  ==================== */
/* =================  FOOTER  ==================== */
.footer{
    padding: 72px 20px;
    background: #0e1015;
    text-align: center;
    display: flex;
    justify-content: space-between;
}
.footer .footer__title{
    color: #fff;
    font-size: 14px;
}
.footer .footer__menu{
    display: flex;
}
.footer .footer__menu li{
    padding: 0 8px 0 10px;
}
.footer .footer__menu li a{
    color: #fff;
    font-size: 18px;
}
/* =================  END FOOTER  ==================== */