* {
    margin: 0;
    padding: 0;
}

.wrapper {
    max-width: 100%;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
}

.header {
    background: #212429;
    display: flex;
    padding: 0 50px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}

.header .header__menu {
    display: flex;
}

.header .header__menu li {
    padding: 15px;
}

.header .header__menu li a {
    padding: 15px;
    color: #fff;
}

.header .header__menu li a:hover {
    color: #cfa926;
}


/* start-service */

.container {
    max-width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
}

.service {
    margin-bottom: 50px;
}

.service p {
    margin-bottom: 50px;
}

.service .center {
    width: 100px;
    height: 3px;
    background: #212429;
    margin: 0 auto;
    margin-bottom: 50px;
}

.service .service__content {
    display: flex;
    flex-wrap: nowrap;
}

.service .service__content .service__cart {
    max-width: calc(100%/3);
    flex-basis: calc(100%/3);
    padding: 0 15px;
}

.service .service__content .service__cart .service__component {
    background: #cfa926;
    text-align: center;
}

.service .service__content .service__cart img {
    width: 100%;
    display: block;
}

.service .service__title {
    text-align: center;
}


/* end-service */


/* start-touch */

.touch {
    margin-bottom: 50px;
    text-align: center;
}

.touch .touch__infor {
    margin-top: 50px;
    text-align: center;
}

.touch h2 {
    margin-bottom: 10px;
}

.touch .center {
    width: 100px;
    height: 3px;
    background: #212429;
    margin: 0 auto;
    margin-bottom: 50px;
}

.touch .touch__content {
    display: flex;
    flex-wrap: nowrap;
}

.touch .touch__content .touch__cart {
    max-width: calc(100%/2);
    flex-basis: calc(100%/2);
    padding: 0 15px;
}

.touch .touch__content .touch__cart .touch__component {
    background: #cfa926;
    text-align: center;
}

.touch .touch__content .touch__cart img {
    width: 100%;
    display: block;
}


/* end-touch */