/* ===================reset css===================== */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    line-height: 1;
}

body {
    font-size: 14px;
    font-family: sans-serif;
}

.container {
    max-width: 1170px;
    margin: auto;
    padding: 0 15px;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
    display: inline-block;
}

button {
    cursor: pointer;
    border: none;
    outline: none;
}


/* =====================header=========================== */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
}

.logo .logo-title a {
    color: #1FA67A;
    font-size: 2.4rem;
    padding: 15px;
    margin: 8px 0;
}

.header .menu {
    display: flex;
    align-items: center;
    font-size: 0;
    white-space: nowrap;
}

.header .menu .menu-item a {
    color: #999;
    padding: 28px 15px;
    font-size: 14px;
    transition: 0.4s all;
}

.header .menu .menu-item .active {
    background: #1FA67A;
    color: #fff;
}

.header .menu .menu-item a:hover {
    background: #1FA67A;
    color: #fff;
}

.header .menu .menu-item a i {
    font-weight: 500;
}


/* ===========================banner======================================*/

.banner {}

.item img {
    width: 100%;
    display: block;
}

.owl-prev {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 30px;
    background: transparent;
}

.owl-prev span {
    font-size: 30px;
    color: #fff;
}

.owl-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 30px;
    background: transparent;
}

.owl-next span {
    font-size: 30px;
    color: #fff;
}

.owl-dots {
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
}

.owl-theme .owl-nav {
    margin-top: 0 !important;
}


/* ==================================Donwload=========================================== */

.download {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 60px;
    background: #1FA67A;
    text-align: center;
}

.download-content p {
    color: #fff;
    font-size: 2.2rem;
    display: block;
    line-height: 1.5;
}

.btn-download a {
    border: 1px solid #fff;
    padding: 15px 30px;
    color: #fff;
    font-size: 18px;
    border-radius: 6px;
    background: transparent;
}


/* =========================================block================================================== */

.block-wrap {
    padding: 30px 0;
}

.block {
    display: flex;
    flex-wrap: wrap;
}

.block-left {
    max-width: 67%;
    flex-basis: 67%;
    padding: 0 15px;
}

.post {
    padding-top: 40px;
}

.block-left .post .post-title .heading a {
    color: #444444;
    font-size: 3.2rem;
    margin-bottom: 15px;
}

.block-left .post .post-title {
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;
}

.block-left .post .post-title .meta {
    display: flex;
}

.block-left .post .post-title .meta .date {
    margin-right: 10px;
}

.block-left .post .post-title .meta .date i,
.block-left .post .post-title .meta .cat-links i {
    font-size: 14px;
    margin-right: 3px;
}

.block-left .post .post-title .meta .date a,
.block-left .post .post-title .meta .cat-links a {
    color: #686868;
    font-size: 13px;
}

.block-left .post .post-content {
    padding: 15px 0;
    display: flex;
    font-size: 0;
    border-bottom: 1px solid #ddd;
}

.block-left .post .post-content .post-img {
    padding: 5px;
    /* border: 1px solid #ddd; */
    border-radius: 6px;
}

.block-left .post .post-content .post-img a {
    display: block;
}

.block-left .post .post-content .post-img a img {
    display: block;
    width: 100%;
}

.block-left .post .post-content .post-desc {
    font-size: 14px;
    color: #686868;
    line-height: 1.7;
    padding: 0 15px;
}

.post-img,
.post-desc {
    max-width: 50%;
    flex-basis: 50%;
}

.block-left .post .post-content .post-desc a,
.block-left .sticky .post .post-description a {
    float: right;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 6px 12px;
    font-size: 14px;
    margin-top: 20px;
    transition: 0.4s;
    color: #1FA67A;
}

.block-left .post .post-content .post-desc a:hover,
.block-left .sticky .post .post-description a:hover {
    background: #1FA67A;
    color: #fff;
}

.block-left .sticky .post .post-description p {
    font-size: 14px;
    color: #686868;
    line-height: 1.5;
    float: left;
}

.block-left .sticky .post .post-description {
    overflow: hidden;
    padding: 20px 0 40px;
    border-bottom: 1px solid #ddd;
}

.nav-post {
    border-radius: 1px;
    background: #333333;
}

.nav-post span {
    color: #fff;
    text-align: center;
    padding: 10px 0;
    transition: 0.4s;
    display: block;
}

.nav-post span:hover {
    background: #1FA67A;
    color: #fff;
}


/* ====================block right====================== */

.block-right {
    max-width: 33%;
    flex-basis: 33%;
    padding: 0 15px;
}

.block-right .form-search {
    display: flex;
    font-size: 0;
    margin-bottom: 20px;
}

.block-right .form-search input {
    border: 1px solid #ddd;
    padding: 5px 10px;
    max-width: 80%;
    flex-basis: 80%;
    font-size: 14px;
    color: #686868;
    outline: none;
}

.block-right .form-search input:focus {
    box-shadow: 1px 0 3px #ddd;
}

.block-right .form-search .btn-search {
    max-width: 20%;
    flex-basis: 20%;
    background: #1FA67A;
    padding: 5px 10px;
    color: #fff;
    font-size: 14px;
}


/* ==================nav tab==================== */

.widget-tabbed {
    margin-bottom: 20px;
}

.widget-tabbed .nav-tab {
    border-bottom: 1px solid #ddd;
    display: flex;
}

.widget-tabbed .nav-tab::before {
    /* display: table;
    content: ""; */
}

.widget-tabbed .nav-tab>li {
    /* float: left;
    margin-bottom: -1px; */
}

.widget-tabbed .nav>li {
    /* position: relative;
    display: block; */
}

.widget-tabbed .nav>li a {
    color: #555555;
    text-transform: uppercase;
    padding: 10px 15px;
}

.widget-tabbed .nav>li a:hover,
.widget-tabbed .nav>li a:focus {
    border-color: #eee;
}

.tab-content {
    margin-top: 20px;
}

.popular-post {
    display: flex;
    font-size: 0;
    margin-bottom: 20px;
}

.popular-post:last-child {
    margin-bottom: 0;
}

.tab-content .popular-post img {
    display: block;
    max-width: 25%;
    flex-basis: 25%;
}

.tab-content .popular-post .content {
    max-width: 75%;
    flex-basis: 75%;
    margin-left: 10px;
}

.tab-content .popular-post .content a h3 {
    color: #1FA67A;
    font-size: 14px;
}

.tab-content .popular-post .content span {
    font-size: 12px;
    color: #6b6b6b;
    display: block;
    margin-top: 15px;
}


/* ================recent comments========================= */

.recent-comments .title {
    color: #1FA67A;
    font-size: 2.4rem;
    border-bottom: 1px solid #ddd;
    font-weight: 400;
}

.recent-comments .cmt-wrap {
    margin-top: 20px;
}

.recent-comments .cmt-wrap .cmt {
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
}

.recent-comments .cmt-wrap .cmt a {
    color: #1FA67A;
}

.recent-comments .cmt-wrap .cmt span {
    color: #686868;
}


/* ========================foooter====================================== */

.footer-content {
    background: #313233;
    padding: 25px 0;
}

.footer-area {
    display: flex;
    justify-content: center;
}

.footer-widget {
    max-width: calc(100%/3);
    flex-basis: calc(100%/3);
    padding: 0 10px;
}

.footer-widget .title {
    color: #fff;
    margin-bottom: 25px;
}

.footer-widget ul li {
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
}

.footer-widget ul li a {
    color: #ddd;
    font-size: 12px;
    font-weight: 300;
}

.footer-widget ul li a:hover {
    color: #fff;
    font-weight: 600;
}

.menu-products .product {
    overflow: hidden;
    padding-bottom: 5px;
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
}

.menu-products .product:last-child {
    margin-bottom: 0;
}

.menu-products .product .product-left {
    float: left;
}

.menu-products .product .product-left a {
    color: #ddd;
    font-size: 10px;
    margin-bottom: 5px;
    display: block;
}

.menu-products .product .product-left span {
    color: #ddd;
    font-size: 8px;
    text-decoration: line-through;
}

.footer-widget .menu-products .product img {
    float: right;
    width: 10%;
}

.footer-widget .heading {
    color: #fff;
    font-size: 4rem;
}

.footer-desc p {
    color: #ddd;
    line-height: 1.5;
    margin-bottom: 15px;
}

.footer-desc p:first-child {
    margin-top: 0;
}


/* =====================footer menu====================== */

.footer-menu {
    background: #1f1f1f;
    padding: 15px 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}

.footer-menu .footer-nav {
    display: flex;
    font-size: 0;
}

.footer-menu .footer-nav li a {
    padding: 10px 15px;
    color: #ccc;
    font-size: 14px;
}

.footer-menu .copyright a {
    color: #ccc;
}