* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    max-width: 100%;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
}

.header {
    padding: 0 50px;
    background: rgb(241, 237, 237);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .header__logo {
    font-family: 'Cormorant Garamond', serif;
    font-weight: 700;
    font-size: 24px;
}

.header .header__menu {
    display: flex;
}

.header .header__menu li {
    padding: 25px;
}

.header .header__menu li a {
    padding: 25px;
}


/*----at your service----*/

.container {
    max-width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
}

.service {}

.service .service__title {
    text-align: center;
    padding: 50px;
    font-family: 'Cormorant Garamond', serif;
    font-weight: 700;
    font-size: 24px;
}

.service .service__content {
    display: flex;
    flex-wrap: wrap;
}

.service .service__content .service__card {
    flex-basis: 25%;
    max-width: 25%;
    padding: 0 25px;
}

.service .service__content .service__card img {
    width: 100%;
    display: block;
}

.service .service__content .service__card .service__text {
    text-align: center;
}


/*----portfolio----*/

.portfolio {}

.portfolio .portfolio__title {
    text-align: center;
    padding: 50px;
}

.portfolio .portfolio__content {
    display: flex;
}

.portfolio .portfolio__content .portfolio__card {
    flex-basis: calc(100%/3);
    max-width: calc(100%/3);
    padding: 0 25px;
}

.portfolio .portfolio__content .portfolio__card img {
    width: 100%;
    display: block;
}

.portfolio .portfolio__content .portfolio__card .portfolio__text {
    text-align: center;
}


/*---contact---*/

.contact .contact__title {
    text-align: center;
    padding: 50px;
}

.contact .contact__content {
    display: flex;
}

.contact .contact__content .contact__card {
    flex-basis: 50%;
    max-width: 50%;
    padding: 0 50px;
}

.contact .contact__content .contact__card img {
    width: 100%;
    display: block;
    padding: 25px 150px;
}

.contact .contact__content .contact__card p {
    text-align: center;
}