* {
    margin: 0;
    padding: 0;
    line-height: 1.5;
    font-family: 'Raleway';
}

.wrapper {
    max-width: 100%;
}

.container {
    width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
}


/* ====================header=================== */

.header {
    display: flex;
    justify-content: space-between;
    padding: 0 100px;
    align-items: center;
}

.header .header__logo a {
    text-decoration: none;
    font-family: 'Raleway';
    font-size: 24px;
    display: flex;
}

.header .header__menu {
    display: flex;
}

.header .header__menu li {
    list-style: none;
    padding: 20px;
}

.header .header__menu li a {
    text-decoration: none;
    font-family: 'Raleway';
    font-size: 13px;
    color: #000;
    font-weight: 500;
}


/* ====================end-header=================== */


/* ====================start-header=================== */

.slider {
    background-image: url(../img/slider-2.jpg);
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.slider {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.slider .slider__content h1 {
    font-size: 60px;
    padding: 0 20rem;
    color: #fff;
    font-weight: 400;
}

.slider .slider__content p {
    color: #fff;
    padding: 30px;
    font-weight: 400;
    font-size: 14px;
}

.slider .slider__content .slider__btn button {
    width: 200px;
    height: 55px;
    background: #5543C8;
    color: #fff;
}

.slider .slider__content .slider__btn button:hover {
    border-color: #5543C8;
}


/* ====================end=slider============= */


/* ======================start=banner============ */

.banner {}

.banner .banner__component {
    display: flex;
    flex-wrap: nowrap;
    padding: 80px 0px;
}

.banner .banner__component img {
    width: 100%;
}

.banner .banner__component .banner__img {
    display: flex;
    max-width: 70%;
    flex-basis: 70%;
}

.banner .banner__component .banner__content {
    max-width: 30%;
    padding: 70px;
    flex-basis: 30%;
}

.banner .banner__component .banner__content p {
    padding: 30px 0px;
    color: #9AA4AA;
}

.banner .banner__component .banner__content button {
    width: 200px;
    height: 50px;
    border: none;
    color: #fff;
    background: #5d47d7;
}


/* ======================end=banner============ */


/* ============start_banner_2================= */

.banner__2 {
    background: #f5f5f5;
}

.banner__2 .banner__2__component {
    display: flex;
    flex-wrap: nowrap;
}

.banner__2 .banner__2__component .banner__2__content {
    max-width: 40%;
    padding: 180px 20px;
    flex-basis: 40%;
}

.banner__2 .banner__2__component .banner__2__img {
    display: flex;
    max-width: 60%;
    flex-basis: 60%;
}

.banner__2 .banner__2__component .banner__2__img img {
    max-width: 100%;
}

.banner__2 .banner__2__component .banner__2__content p {
    padding: 20px 0px;
}

.banner__2 .banner__2__component .banner__2__content button {
    width: 200px;
    height: 50px;
    border: none;
    color: #fff;
    background: #5d47d7;
}


/* ============end_banner_2================= */


/* ================ start_slider__2============= */

.slider__2 {
    background-image: url(../img/slider-1.jpg);
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.slider__2 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.slider__2 .slider__2__content {
    margin: auto 0px;
}

.slider__2 .slider__2__content h2 {
    font-size: 60px;
    padding: 0 300px;
    font-weight: 400;
    color: #fff;
}

.slider__2 .slider__2__content p {
    color: #fff;
    padding: 40px 250px;
    font-weight: 400;
    font-size: 14px;
}

.slider__2 .slider__2__content .slider__2__btn button {
    width: 200px;
    height: 55px;
    background: #5543C8;
    color: #fff;
}

.slider__2 .slider__2__content .slider__2__btn button:hover {
    border-color: #5543C8;
}


/* ================ end_slider__2============= */


/* ================ start_limitless============= */

.limitless {
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
    background: #f5f5f5;
}

.limitless .limitless__content {
    margin: auto 0px;
    padding: 80px 0px;
}

.limitless .limitless__content h2 {
    font-size: 30px;
    font-weight: 400;
}

.limitless .limitless__content p {
    padding: 2rem 10rem;
    font-weight: 400;
    font-size: 14px;
}

.limitless .limitless__content .limitless__btn button {
    width: 200px;
    height: 55px;
    background: #5543C8;
    color: #fff;
}

.limitless .limitless__content .limitless__btn button:hover {
    border-color: #5543C8;
}

.limitless .limitless__content img {
    padding: 30px;
}


/* ================ end_limitless============= */


/* ===================start_latest============ */

.latest {
    background: #0E1015;
    justify-content: center;
    align-content: center;
    text-align: center;
}

.latest__content h2 {
    padding: 40px;
    font-size: 30px;
    font-weight: normal;
}

.latest__content {
    color: #fff;
    padding: 50px;
}


/* ===================end_latest============ */


/* =================start_customer================ */

.banner__2 {
    background: #f5f5f5;
}

.banner__2 .banner__2__component {
    display: flex;
    flex-wrap: nowrap;
}

.banner__2 .banner__2__component .banner__2__content {
    max-width: 40%;
    padding: 180px 20px;
    flex-basis: 40%;
}

.banner__2 .banner__2__component .banner__2__img {
    display: flex;
    max-width: 60%;
    flex-basis: 60%;
}

.banner__2 .banner__2__component .banner__2__img img {
    max-width: 100%;
}

.banner__2 .banner__2__component .banner__2__content p {
    padding: 20px 0px;
}

.banner__2 .banner__2__component .banner__2__content button {
    width: 200px;
    height: 50px;
    border: none;
    color: #fff;
    background: #5d47d7;
}


/* ============end_banner_2================= */


/* ===============start-project============ */

.project {
    background-color: black;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.project h3 {
    padding: 75px 0px 20px;
    font-size: 30px;
    color: white;
    font-weight: 400;
}

.project p {
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 20px;
    color: white;
}

.project .project__list {
    display: flex;
    flex-wrap: wrap;
}

.project .project__list .item {
    max-width: 25%;
    flex-basis: 25%;
}

.project .project__list .item img {
    width: 100%;
}


/* ==============end project=============== */


/* ================ start_custeomer============= */

.customer {
    background-image: url(../img/banner-3.jpg);
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.customer {
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
}

.customer .customer__content {
    margin: auto 0px;
}

.customer .customer__content h2 {
    font-size: 30px;
    padding: 0 300px;
    font-weight: 400;
    color: #fff;
}

.customer .customer__content p {
    color: #fff;
    padding: 40px 250px;
    font-weight: 400;
    font-size: 14px;
}

.customer .customer__content img {
    border-radius: 50%;
}


/* =================end_customer================ */


/* =========start_wordpress============== */

.wordpress {
    background: #f5f5f5;
}

.wordpress .wordpress__content {
    display: flex;
    justify-content: space-between;
    padding: 50px 180px;
}

.wordpress .wordpress__content h2 {
    font-size: 30px;
    font-weight: 400;
    color: #000;
}

.wordpress .wordpress__content button {
    width: 200px;
    height: 50px;
    border: none;
    color: #fff;
    background: #5d47d7;
}


/* ===========end_wordpress============= */