*{
    font-family: 'Raleway', sans-serif;
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;
}
ul, ol{
    list-style: none;
}
a{
    text-decoration: none;
}
img{
    width: 100%;
    display: block;
}
.container{
    max-width: 1170px;
    margin: auto;
}
.header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.header__logo{
    padding: 0px 100px;
}
.header .header__logo a{
    font-size: 24px;
    color: #333333;
    font-weight: 300;
}
.header .header__menu ul {
    display: flex;
    padding-right: 40px;
}
.header .header__menu ul li {
    padding: 30px 15px;
}
.header .header__menu ul li a {
    color: #333333;
    text-transform: uppercase;
    font-weight: 500;
    font-size:14px;
}
.banner{
    background-image: url(https://colorlib.com/shapely/wp-content/uploads/sites/12/2016/03/photo-1443527216320-7e744084f5a7-1.jpg);
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}
.banner .banner__content h3{
    color: white;
    font-size: 60px;
    font-weight: 400;
    width: 95%;
}
.banner .banner__content p{
    font-size: 14px;
    font-weight: 400;
    color: white;
    padding: 20px 0px;
    margin-bottom: 20px;
}
.banner .banner__content .banner-btn .btn-readmore{
    border: none;
    color: white;
    padding: 19px 55px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    cursor: pointer;
    background: #1b524f;
    text-transform: uppercase;
}
.banner .banner__content .banner-btn .btn-download{
    border: 2px solid white;
    padding: 15px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    cursor: pointer;
    text-transform: uppercase;
    background: none;
    color: white;
}
/* seo */
.seo{
    margin: 130px 0px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.seo .item1{
    max-width: 60%;
    flex-basis: 60%;
    padding: 0px 30px;
}
.seo .item2{
    max-width: 40%;
    flex-basis: 40%;
    padding: 0px 50px;
} 
.seo .item2 .text{
    text-align: left;
    margin-bottom: 25px;
}
.seo .item2 .text h3{
    margin: 0px 0px 25px 0px;
    text-transform: uppercase;
    font-size: 20px;
}
.seo .item2 .text p{
    font-size: 15px;
    color: darkgray;
}
.seo .item2 .button button{
    border: none;
    color: white;
    padding: 15px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
    background: #552880;
    text-transform: capitalize;
}
/* portfolio section */
.portfolio{
    background: #f5f5f5;
    justify-content: center;
    align-items: center;    
}
.portfolio__content{
    padding: 85px 0px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.portfolio__content .portfolio__text{
    max-width: 40%;
    flex-basis: 40%;
}
.portfolio__img {
    max-width: 60%;
    flex-basis: 60%;
}
.portfolio__content .portfolio__text h3{
    margin: 0px 0px 25px 0px;
    text-transform: uppercase;
    font-size: 20px;
    text-align: left;
}
.portfolio__content .portfolio__text p{
    font-size: 15px;
    color: darkgray;
}
.portfolio__content .portfolio__text .button button{
    border: none;
    color: white;
    padding: 15px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
    background: #552880;
    text-transform: uppercase;
}
/* Small Parallax Section */
.SmallParallax{
    background-image:url(https://colorlib.com/shapely/wp-content/uploads/sites/12/2016/12/photo-1452723312111-3a7d0db0e024.jpg) ;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
}
.SmallParallax__content{
    padding: 70px 0px;
}
.SmallParallax__content h3{
    color: white;
    font-size: 60px;
    font-weight: 400;
}
.SmallParallax__content p{
    color: white;
    width: 60%;
    font-size: 14px;
    margin: 25px auto;
}
.SmallParallax__content .button button{
    border: none;
    padding: 15px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
    background: #552880;
    text-transform: uppercase;
}
.SmallParallax__content .button button a{
    color: white;
}
/* Limitless Options */
.LimitlessOptions{
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.LimitlessOptions .LimitlessOptions__content h3{
    padding-top: 50px;
    color: black;
    font-size: 30px;
    font-weight: 400;
}
.LimitlessOptions__content p{
    color: grey;
    width: 80%;
    font-size: 14px;
    margin: 25px auto;
}
.LimitlessOptions__content .button button{
    border: none;
    padding: 15px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
    background: #552880;
    text-transform: uppercase;
    margin-bottom: 30px;
}
.LimitlessOptions__content .button button a{
    color: white;
}
/* project */
.project{
    background-color: black;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    text-align: center;
}
.project h3{
    padding: 75px 0px 20px;
    font-size: 30px;
    color: white;
    font-weight: 400;
}
.project p{
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 20px;
    color: white;
}
.project .project__list{
    display: flex;
    flex-wrap: wrap;
}
.project .project__list .item{
    max-width: 25%;
    flex-basis:25% ;
}
.customer{
    background-image: url(https://colorlib.com/shapely/wp-content/uploads/sites/12/2016/12/photo-1451417379553-15d8e8f49cde.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
}
.customer__content{
    padding: 60px 0px;
}
.customer .customer__content h3{
    font-size:30px;
    color: white;
    font-weight: 400;
    padding: 50px 0px 20px;
}
.customer .customer__content p{
    font-size:14px;
    color: white;
    font-weight: 400;
    width: 60%;
    margin: auto;
    margin-bottom: 30px;
}
.customer .customer__content .customer-img{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.customer .customer__content .customer-img img{
    width: 8%;
    height: 8%;
    border-radius: 100%;
    margin: 0px 315px
}
.customer .customer__content .customer-img i{
    color: white;
    width: 15%;
    height: 15%;
}
/* client */
.mainClient{
    margin: 60px 0px;
}
.mainClient h3{
    font-size: 30px;
    font-weight: 400;
    color: black;
    text-align: center;
    margin: 30px 0px;
}
.mainClient .listClient{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    padding: 0px 0px 0px 145px;
}

.mainClient .listClient .item{
    flex-basis: 25%;
    max-width: 25%;
}
.mainClient .listClient .item img{
    width: 24%;
}
/* download */
.download{
    background-color: #f5f5f5;
}
.download__content{
    display: flex;
    flex-wrap: wrap;
    padding: 50px 0px;
    align-items: center;
    text-align: center;
}
.download__content .text {
    max-width: 70%;
    flex-basis: 70%;
}
.download__content .text h2{
    color: gray;
    font-size: 30px;
    font-weight: 400;
}
.download__content .button{
    max-width: 30%;
    flex-basis: 30%;
    text-align: right;
}
.download .download__content .button button{
    border: none;
    padding: 15px 40px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
    background: #552880;
    text-transform: uppercase;
    color: white;
}
/* credit */
.credit{
    background-color: black;
    color: white;
}
.credit .credit__content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    padding: 20px 0px 0px 0px;
}
.credit__content .text{
    max-width: 50%;
    flex-basis: 50%;
}
.credit__content .list-icon{
    max-width: 50%;
    flex-basis: 50%;
    text-align: right;
    font-size: 18px;
}
.credit__content .text{
    font-size: 14px;
    align-items: center;
    font-weight: 400;
    text-align: left;
}
.list-icon i {
    text-align: right;
    padding: 0px 7px;
}
.credit .up{
    font-size: 45px;
    color: white;
    text-align: right;
    padding: 20px;
}