*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    line-height: 1;
}
body{
    font-family: sans-serif;
    font-size: 14px;
}
ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
a{
    text-decoration: none;
    display: inline-block;
}
button{
    cursor: pointer;
    border: none;
    outline: none;
}
.header{
    background: rgb(105, 82, 82);
}
.container{
    max-width: 1170px;
    margin:auto;
    padding: 0 15px;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 0;
    max-width: 1170px;
    margin:auto;
    padding: 0 15px;
}
.navbar-logo a{
    color: rgb(209, 209, 32);
    font-size: 20px;
}
.navbar-menu{
    display: flex;
}
.menu-item{
    padding-right: 10px;
}
.menu-item:last-child{
    padding-right: 0;
}
.menu-item a{
    color: #fff;
    font-size: 16px;
    padding: 20px;
}
.menu-item:nth-child(2) a{
    color: rgb(209, 209, 32);;
}
/*MAIN*/
.main{
    margin-top: 20px;
}
.contact{
    text-align: center;
}
.contact .heading{
    color: #333;
    font-size: 24px;
}
.border{
    padding-top: 15px;
    border-bottom: 3px solid orange;
    width: 50px;
    margin: auto;
}
.description{
    line-height: 1.5;
    padding-top: 15px;
}
.contact-intro{
    padding-top: 25px;
    display: flex;
    justify-content: space-evenly;
}
.fas{
    color: #333;
    font-size: 16px;
}
.phone-number,.email{
    display: block;
    padding-top: 10px;
}
.portfolio{
    text-align: center;
    padding-top: 20px;
}
.portfolio .title{
    text-transform: uppercase;
}
.card-wrap{
    display: flex;
    justify-content: center;
    align-items: center;
}
.card{
    flex-basis: calc(100% / 3);
    padding: 0 10px;
}
.card .thumb{
    display: block;
    width: 100%;
}
.content{
    font-size: 0;
}
.content .card-title{
    font-size: 16px;
    color: #333;
}
.content span{
    color: #333;
    font-size: 14px;
    display: block;
    padding-top: 6px;
}
/*END MAIN*/
