* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Comic Neue', cursive;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
}

.fas {
    font-family: "Font Awesome 5 Pro";
    font-weight: 900;
    padding: 2px 5px;
}


/* =========start-header=========== */

.header {
    background-color: #fff;
}

.header__component {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__component .header__logo a {
    display: flex;
    color: #1FA67A;
}

.header__component .header__menu {
    display: flex;
}

.header__component .header__menu li a {
    padding: 2rem 15px;
    display: flex;
    color: #1FA67A;
}

.header__component .header__menu li a:hover {
    background-color: #1FA67A;
    color: #fff
}


/* ===============end-header================ */


/* ===========start-download=========== */

.download {
    background-color: #1FA67A;
    padding: 20px 5px;
    color: #fff;
}

.download__component {
    display: flex;
    justify-content: space-between;
    padding: 0 3rem;
    align-items: center;
}

.download__component a {
    display: flex;
    padding: 15px 2rem;
    border: 1px solid #fff;
    border-radius: 5px;
}

.download__component a:hover {
    background-color: #fff;
    color: #1FA67A;
}


/* ===============end-download========== */


/* =================start-main============= */

.main {
    margin-top: 2rem;
}

.main__component {
    display: flex;
}

.main__letf {
    max-width: 70%;
    flex-basis: 70%;
    padding: 0 2rem;
}

.main__letf button {
    width: 100%;
    padding: 5px;
    margin: 20px 0;
    border-radius: 0px;
    background-color: #313233;
    color: #fff;
}

.main__letf__title {
    border-bottom: 1px solid #E8E8E8;
    margin: 1rem 0;
}

.main__letf__time {
    display: flex;
    padding: 1rem 0;
}

.main__letf__content {
    padding: 2rem 0px;
    border-bottom: 1px solid #E8E8E8;
}

.main__letf__time span {
    margin-left: 10px;
}

.main__letf__img {
    display: flex;
}

.main__letf__img img {
    width: 100%;
}

.main__letf__img .img {
    display: flex;
    max-width: 50%;
    flex-basis: 50%;
}

.main__letf__img .img a {
    padding: 5px;
    border: 1px solid #E8E8E8;
    border-radius: 5px;
}

.main__letf__img .content a:hover {
    background-color: #1FA67A;
    color: #fff;
}

.main__letf__img .content {
    max-width: 50%;
    flex-basis: 50%;
    padding: 0 15px;
}

.main__letf__img .content a {
    float: right;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #E8E8E8;
    color: #1FA67A;
    background-color: transparent;
    margin-top: 2rem;
}


/* =============end-letf================== */


/* ==============start-main__right==================== */

.main__right {
    max-width: 30%;
    flex-basis: 30%;
}

.main__right__search {}

.main__right__search input {
    height: 2rem;
    width: 18rem;
    padding: 10px;
}

.main__right__search button {
    height: 2rem;
    width: 3rem;
    background-color: #1FA67A;
    border: none;
    color: #fff;
    margin-left: -6px;
}

.main__right__table {
    margin: 4rem 0px;
}

.main__right__table .nav-tab {
    border-bottom: 1px solid #ddd;
    display: flex;
}

.main__right__table .nav>li a {
    color: #555555;
    text-transform: uppercase;
    padding: 10px 15px;
}

.table__content {
    margin-top: 20px;
}

.table__item {
    display: flex;
    font-size: 0;
    margin-bottom: 20px;
}

.table__item:last-child {
    margin-bottom: 0;
}

.table__content .table__item img {
    display: block;
    max-width: 25%;
    flex-basis: 25%;
}

.table__content .table__item .content {
    max-width: 75%;
    flex-basis: 75%;
    margin-left: 10px;
}

.table__content .table__item .content a h3 {
    color: #1FA67A;
    font-size: 14px;
}

.table__content .table__item .content span {
    font-size: 12px;
    color: #6b6b6b;
    display: block;
    margin-top: 15px;
}


/* =================== end-main__right=============== */


/* ================recent comments========================= */

.main__right__comments .title {
    color: #1FA67A;
    font-size: 2.4rem;
    border-bottom: 1px solid #ddd;
    font-weight: 400;
}

.main__right__comments .comment__component {
    margin-top: 20px;
}

.main__right__comments .comment__component .comment {
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
}

.main__right__comments .comment__component .comment a {
    color: #1FA67A;
}

.main__right__comments .comment__component .comment span {
    color: #686868;
}


/* ==================end-main================== */


/* ========================start-foooter====================================== */

.footer__content {
    background: #313233;
    padding: 25px 0;
}

.footer__area {
    display: flex;
    justify-content: center;
}

.footer__widget {
    max-width: calc(100%/3);
    flex-basis: calc(100%/3);
    padding: 0 10px;
}

.footer__widget .title {
    color: #fff;
    margin-bottom: 25px;
}

.footer__widget ul li {
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
}

.footer__widget ul li a {
    color: #ddd;
    font-size: 12px;
    font-weight: 300;
}

.footer__widget ul li a:hover {
    color: #fff;
    font-weight: 600;
}

.menu__products .product {
    overflow: hidden;
    padding-bottom: 5px;
    border-bottom: 1px solid #ddd;
    margin-bottom: 15px;
}

.menu__products .product .product__left {
    float: left;
}

.menu__products .product .product__left a {
    color: #ddd;
    font-size: 10px;
    margin-bottom: 3px;
    display: block;
}

.menu__products .product .product__left span {
    color: #ddd;
    font-size: 8px;
    text-decoration: line-through;
}

.footer__widget .menu__products .product img {
    float: right;
    width: 10%;
}

.footer__widget .heading {
    color: #fff;
    font-size: 4rem;
}

.footer__desc p {
    color: #ddd;
    line-height: 1.5;
    margin-bottom: 15px;
    font-size: 14px;
}


/* =====================footer menu====================== */

.footer__menu {
    background: #1f1f1f;
    padding: 15px 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}

.footer__menu .footer__nav {
    display: flex;
    font-size: 0;
}

.footer__menu .footer__nav li a {
    padding: 10px 15px;
    color: #ccc;
    font-size: 14px;
}

.footer__menu .copyright a {
    color: #ccc;
}

.footer__menu .copyright span {
    color: #1FA67A;
}


/* ===========end-footer================ */