* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 14px;
    font-family: sans-serif;
}

html {
    line-height: 1;
    font-size: 62.5%;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}


/* ============navbar================= */

nav {
    background: rgb(0, 255, 106);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
}

.logo {
    max-width: 25%;
    flex-basis: 25%;
    padding: 5px 0;
}

.logo a {
    display: block;
}

.logo a img {
    display: block;
    width: 100%;
}

.menu {
    max-width: 70%;
    flex-basis: 70%;
    display: flex;
    align-items: center;
    white-space: nowrap;
}

.menu li {
    margin-right: 40px;
}

.menu li:last-child {
    margin-right: 0;
}

.menu li a {
    color: #fff;
    font-size: 14px;
    padding: 27px 10px;
    display: inline-block;
    transition: 0.4s all;
}

.menu li i {
    color: #fff;
    margin-left: 3px;
}

.menu>li {
    position: relative;
}

.menu>li:hover>ul {
    display: block;
}

.menu>li>ul {
    position: absolute;
    background: orange;
    top: 50px;
    left: 50px;
    color: #333;
    padding: 10px 20px;
    display: none;
    transition: 0.4s;
}

.menu>li>ul>li {
    width: 100%;
}

.menu>li>ul>li>a {
    width: 100%;
    transition: 0.3s;
}

.menu>li>ul>li>a:hover {
    transform: translateX(8px);
}

.submenu>li {
    position: relative;
    width: 100%;
}

.submenu>li>a {
    width: 100%;
    transition: 0.3s;
}

.submenu>li>a:hover {
    transform: translateX(8px);
}

.submenu>li>ul {
    position: absolute;
    background: orange;
    top: 100%;
    left: 100px;
    color: #333;
    padding: 10px 20px;
    display: none;
    transition: 0.4s;
}

.submenu>li:hover>ul {
    display: block;
}

.submenu>li>ul>li {
    width: 100%;
}

.submenu>li>ul>li>a {
    transition: 0.3s;
    width: 100%;
}

.submenu>li>ul>li>a:hover {
    transform: translateX(8px);
}