/* ==================================================== */


/* trạng thái ban đầu
width - height - vị trí */


/* trạng thái kết thúc
width - height - vị trí */


/* 

/* ==================================================== */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
}

.box {
    /* set w-h-b cho div */
    margin: 5px;
    width: 200px;
    height: 100px;
    background-color: rgb(174, 198, 204);
    /* căn giữa text */
    display: flex;
    justify-content: center;
    align-items: center;
    /* đặt vị trí cha */
    position: relative;
}

.box:hover {
    color: white;
}

.title {
    z-index: 2;
}

.component {
    display: flex;
}


/* ====================================== */

.fade__overlay {
    width: 100%;
    height: 100%;
    color: #fff;
    background-color: blue;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
    opacity: 0;
}

.fade:hover .fade__overlay {
    opacity: 1;
}


/* ================================================== */

.sweep__right__overlay {
    position: absolute;
    width: 0%;
    height: 100%;
    background-color: blue;
    top: 0;
    left: 0;
    transition: 0.5s;
    opacity: 0;
}

.sweep__right:hover .sweep__right__overlay {
    opacity: 1;
    width: 100%;
}


/* ============================================ */

.sweep__left__overlay {
    position: absolute;
    width: 0%;
    height: 100%;
    background-color: blue;
    top: 0;
    right: 0;
    transition: 0.5s;
    opacity: 0;
}

.sweep__left:hover .sweep__left__overlay {
    opacity: 1;
    width: 100%;
}


/* ============================================ */

.sweep__buttom__overlay {
    position: absolute;
    height: 0%;
    width: 100%;
    background-color: blue;
    top: 0;
    transition: 0.5s;
    opacity: 0;
}

.sweep__buttom:hover .sweep__buttom__overlay {
    opacity: 1;
    height: 100%;
}


/* ============================================ */

.sweep__top__overlay {
    position: absolute;
    height: 0%;
    width: 100%;
    background-color: blue;
    bottom: 0;
    transition: 0.5s;
    opacity: 0;
}

.sweep__top:hover .sweep__top__overlay {
    opacity: 1;
    height: 100%;
}


/* ============================================ */

.radian__in__overlay {
    background-color: rgb(255, 248, 220);
    position: absolute;
    width: 100%;
    height: 100%;
    transition: 0.3s;
    z-index: 1;
    opacity: 1;
    transform: scale(2);
    border-radius: 100%;
}

.radial__in:hover .radian__in__overlay {
    opacity: 0;
    width: 0%;
    height: 0%;
    transform: scale(0);
}