.container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
}

img {
    display: block;
    width: 100%;
}

.content {
    color: white;
}

span {
    background-color: brown;
    padding: 10px;
}

.box {
    width: 400px;
    height: 300px;
}


/*================start-effect1==============================*/

.effect1 {
    position: relative;
    margin: 20px;
}

.effect1__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    opacity: 0;
    transition: 0.5s;
}

.effect1:hover .effect1__overlay {
    transform: translate(10px, 10px);
    opacity: 1;
}


/*=============end-effect1==============================*/


/*=====================start-effect2=============================*/

.effect2 {
    position: relative;
    margin: 20px;
}

.effect2>.content {
    position: absolute;
    height: 30%;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    bottom: 0;
}

.effect2__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transition: 0.5s;
    z-index: 1;
}

.effect2:hover .effect2__overlay {
    transform: translateY(-30%);
}


/*===================end-effect2==========================*/