* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 14px;
    font-family: sans-serif;
}

.wrapper {
    padding: 50px;
}

.div {
    margin-bottom: 15px;
}

.div:last-child {
    margin-bottom: 0;
}


/* ======================effect1========================= */

.parent {
    width: 120px;
    height: 50px;
    color: #333;
    background: #ddd;
    display: flex;
    justify-content: center;
    align-items: center;
}

.parent:hover {
    border: 4px solid rgb(115, 115, 201);
}


/* ======================effect2========================= */

.parent1 {
    width: 120px;
    height: 50px;
    color: #333;
    background: #ddd;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.parent1::after {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 10px;
    height: 80%;
    transition: 0.2s;
}

.parent1:hover::after {
    background: #fff;
    color: rgb(158, 136, 136);
    opacity: 0.4;
}


/* ======================effect3========================= */

.parent2 {
    width: 120px;
    height: 50px;
    color: #333;
    background: #ddd;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.parent2::after {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 10px;
    height: 80%;
    transition: 0.2s;
}

.parent2:hover::after {
    border: 1px solid #fff;
}


/* ======================effect3========================= */

.parent3 {
    width: 120px;
    height: 50px;
    color: #333;
    background: #ddd;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.parent3::after {
    content: "";
    position: absolute;
    top: -1px;
    left: 7px;
    right: 7px;
    bottom: 0px;
    transform: scale(1);
    transition: 0.8s;
    opacity: 1;
}

.parent3:hover::after {
    opacity: 0;
    transform: scale(1.3);
    background: rgba(175, 58, 125, 0.5);
}


/* ======================effect4========================= */

.parent4 {
    width: 120px;
    height: 50px;
    color: #333;
    background: #ddd;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.parent4::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transform: scale(1.3);
    transition: 0.8s;
    opacity: 1;
}

.parent4:hover::after {
    opacity: 0;
    transform: scale(1);
    background: rgba(175, 58, 125, 0.5);
}


/* ======================effect6========================= */

.parent5 {
    width: 120px;
    height: 50px;
    color: #333;
    background: #ddd;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.parent5::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0px;
    transform: scale(1);
    transition: 0.5s;
}

.parent5:hover::after {
    transform: scale(1.3);
    left: 6px;
    right: 6px;
    border: 2px solid #ddd;
}


/* ======================effect7========================= */

.parent6 {
    width: 120px;
    height: 50px;
    color: #333;
    background: #ddd;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.parent6::after {
    content: "";
    position: absolute;
    top: 0;
    left: 8px;
    right: 8px;
    bottom: 0;
    transform: scale(1.3);
    transition: 0.5s;
}

.parent6:hover::after {
    transform: scale(1);
    left: 0;
    right: 0;
    border: 2px solid #ddd;
}


/* ======================effect8========================= */

.parent7 {
    width: 120px;
    height: 50px;
    color: #333;
    background: #ddd;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
}

.parent7:hover {
    border-radius: 10px;
}


/* ======================effect9========================= */

.parent8 {
    width: 120px;
    height: 50px;
    color: #333;
    background: #ddd;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.parent8::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 5px;
    transition: 0.3s;
}

.parent8:hover::after {
    width: 100%;
    background: rgba(79, 79, 185, 0.4);
}


/* ======================effect10========================= */

.parent9 {
    width: 120px;
    height: 50px;
    color: #333;
    background: #ddd;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.parent9::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 5px;
    transition: 0.3s;
}

.parent9:hover::after {
    width: 100%;
    background: rgba(79, 79, 185, 0.4);
}


/* ======================effect11========================= */

.parent10 {
    width: 120px;
    height: 50px;
    color: #333;
    background: #ddd;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.parent10::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0;
    height: 5px;
    transition: 0.3s;
}

.parent10:hover::after {
    width: 100%;
    background: rgba(79, 79, 185, 0.4);
}


/* ======================effect12========================= */

.parent11 {
    width: 120px;
    height: 50px;
    color: #333;
    background: #ddd;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.parent11::after {
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 5px;
    transition: 0.3s;
}

.parent11:hover::after {
    border-bottom: 3px solid rgb(49, 49, 102);
}


/* ======================effect13========================= */

.parent12 {
    width: 120px;
    height: 50px;
    color: #333;
    background: #ddd;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.parent12::after {
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    height: 5px;
    transition: 0.3s;
}

.parent12:hover::after {
    border-top: 3px solid rgb(49, 49, 102);
}


/* ======================effect14========================= */

.parent13 {
    width: 120px;
    height: 50px;
    color: #333;
    background: #ddd;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.parent13::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 5px;
    transition: 0.3s;
}

.parent13:hover::after {
    width: 100%;
    background: rgba(80, 80, 156, 0.5);
}


/* ======================effect15========================= */

.parent14 {
    width: 120px;
    height: 50px;
    color: #333;
    background: #ddd;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.parent14::after {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 5px;
    transition: 0.3s;
}

.parent14:hover::after {
    width: 100%;
    background: rgba(80, 80, 156, 0.5);
}


/* ======================effect16========================= */

.parent15 {
    width: 120px;
    height: 50px;
    color: #333;
    background: #ddd;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.parent15::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 5px;
    transition: 0.3s;
}

.parent15:hover::after {
    width: 100%;
    background: rgba(80, 80, 156, 0.5);
}